<% if(messages.error){ %>
    <div  id="hideAlert" class="alert alert-<%=messages.danger%>"><%= messages.error%></div>
<% } %>
<div class="center-main-div">
    <div class="main-div">
        <div class="separate many-elements">
            <div class="p-wrapper">
                
                <p>Zmień hasło<br>Dobrze jest użyć silnego hasła, którego nie używasz nigdzie indziej </p>
              
            </div>
            
            <form action="/settings/change-password?_method=PUT" method="POST">
                <div class="change">
                    <div class="input-element">
                        <input value="<%=user.password%>" type="password">
                    </div>
                    <div class="input-element sec-element">
                        <input  type="password" name="newPassword" placeholder="Nowe Hasło">
                    </div>
                    <div class="input-element">
                        <input  type="password"name="confirmNewPassword" placeholder="Potwierdź Hasło">
                    </div>
                </div>
          
                <div class="center">
                    <button type="submit">Edytuj</button>
                </div >
            </form>
        </div>
        <div class="separate many-elements">
            <div class="p-wrapper">
                <p>Zmień email </p>
            </div>
            
            <form action="/settings/change-email?_method=PUT" method="POST">
                <div class="change">
                    <div class="input-element">
                        <input value="<%=user.email%>" type="email">
                    </div>
                    <div class="input-element sec-element">                
                        <input type="email" name="newEmail"placeholder="Nowy Email">
                    </div>
                    <div class="input-element">
                        <input type="email" name="confirmNewEmail" placeholder="Potwierdź Email">
                    </div>
                   
                </div>
              
                <div class="center">
                    <button type="submit">Edytuj</button>
                </div >
            </form>
        </div>
        <div class="separate not-many-elements">
            <div class="p-wrapper">
                <p>Zmień nazwe firmy </p>
            </div>
            
            <form action="/settings/change-company-name?_method=PUT" method="POST">
                <div class="change">
                    <div class="input-element">                   
                        <input value="<%=user.companyName %>" type="text">
                    </div>
                    <div class="input-element sec-element">
                        <input type="text" name="newCompanyName"placeholder="Nowa Nazwa Firmy">
                    </div>
                    
                </div>
              
                <div class="center">
                    <button type="submit">Edytuj</button>
                </div >
            </form>
        </div>
        <div class="separate">
            <div class="p-wrapper">
                <p>Jeśli chcesz usunąć swoje konto nacisnij: </p>
            </div>
            <form action="/settings/delete-account?_method=DELETE" method="POST">
              
                <div class="center">
                    <button type="submit">Edytuj</button>
                </div >
            </form>
        </div>
    </div>
</div>
<div>

