
<ul class="collapsible top-separation-3">
    <li>
        <div class="collapsible-header"><i class="material-icons ">vpn_key</i><p class="no-margin">Zmień hasło<br>  <small>Dobrze jest użyć silnego hasła, którego nie używasz nigdzie indziej.</small></p></div>
        <div class="collapsible-body">
          <form action="/settings/change-password?_method=PUT" method="POST">
            <div class="row">
                <div class="input-field col s12 m6 l4 xl4">
                    <input  value="<%=user.password.slice(0,15)%>" type="password" id="password"  autocomplete="off" >
                    <label for="password">Bieżące hasło</label>
                </div>
                <div class="input-field col s12 m6 l4 xl4">
                    <input name="newPassword" type="password" minlength="8" id="change-password"  autocomplete="off" >
                    <label for="change-password">Nowe hasło</label>
                </div>
                <div class="input-field col s12 m6 l4 xl4">
                    <input name="confirmNewPassword" type="password" minlength="8" id="confirm-password"  autocomplete="off" >
                    <label for="confirm-password">Potwierdź hasło</label>
                </div>
            </div>
            <div class="button-styling-large center-button">
                <button type="submit" class="btn button-styling-large submit">Akutalizuj</button>
            </div>
          </form>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">email</i><p class="no-margin">Zmień email<br>  <small>Pamiętaj, wprowadź dwa razy taki sam email.</small></p></div>
        <div class="collapsible-body">
            <form action="/settings/change-email?_method=PUT" method="POST">
                <div class="row">
                    <div class="input-field col s12 m6 l4 xl4">
                        <input  value="<%=user.email%>" type="text" id="email"  autocomplete="off" >
                        <label for="email">Bieżące email</label>
                    </div>
                    <div class="input-field col s12 m6 l4 xl4">
                        <input name="newEmail" type="text" id="change-email"  autocomplete="off" >
                        <label for="change-email">Nowy email</label>
                    </div>
                    <div class="input-field col s12 m6 l4 xl4">
                        <input name="confirmNewEmail" type="text" id="confirm-email"  autocomplete="off" >
                        <label for="confirm-email">Potwierdź email</label>
                    </div>
                </div>
                <div class="button-styling-large center-button">
                    <button type="submit" class="btn button-styling-large submit">Akutalizuj</button>
                </div>
            </form>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">apartment</i><p class="no-margin">Zmień nazwe i zakres działalności firmy<br></p></div>
        <div class="collapsible-body">
            <form action="/settings/change-company-name?_method=PUT" method="POST">
                <div class="row">
                    <div class="input-field col s12 m6 l6 xl6">
                        <input  value="<%=user.companyName%>" type="text" id="company-name"  autocomplete="off" >
                        <label for="company-name">Bieżące nazwa firmy</label>
                    </div>
                    <div class="input-field col s12 m6 l6 xl6">
                        <input name="newCompanyName" type="text" id="change-company-name"  autocomplete="off" >
                        <label for="change-company-name">Nowa nazwa firmy</label>
                    </div>
                </div>
                <div class="col s12 check-box-bottom-margin ">
                    <label class="separate check-box-right-margin ">
                        <input type="checkbox"  <%=user.beautySalon==true? 'checked="checked" ' :''%>   name="beautySalon" >
                        <span>Salon Kosmetyczny</span>
                    </label>

                    <label class="separate">
                        <input type="checkbox" <%=user.hairdresser==true? 'checked="checked" ' :''%>   name="hairdresser" >
                        <span>Salon Fryzjerski</span>
                    </label>
                </div>
                <div class="button-styling-large center-button">
                    <button type="submit" class="btn button-styling-large submit">Akutalizuj</button>
                </div>
            </form>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">label_off</i><p class="no-margin">Usuń nazwe marki<br></p></div>
        <div class="collapsible-body">
            <form action="/settings/brand-name-delete?_method=DELETE" method="POST">
                <div class="row">
                    <div class="input-field col s12 dropdown" >
                        <select multiple name="selectedBrand" >
                            <option value="" disabled selected>Wybierz marke</option>
                            <%brandName.forEach(brand =>{%>
                                <option value="<%=brand._id%>"><%=brand.name%></option>
                            <%})%>
                        </select>
                        <label>Materialize Multiple Select</label>
                    </div>
                </div>  
                <div class="button-styling-large center-button">
                    <button type="submit" class="btn button-styling-large submit">Akutalizuj</button>
                </div>
            </form>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">remove_shopping_cart</i><p class="no-margin">Usuń nazwy zakupionych produktów<br> 
            <small>Pamiętaj, że po usunięciu może wystąpić problem z usunięciem rekordu w zakupach. </small></p></div>
        <div class="collapsible-body">
            <form action="/settings/delete-product?_method=DELETE" method="POST">
                <div class="row">
                    <div class="input-field col s12 dropdown" >
                        <select multiple name="selectedProduct" >
                            <option value="" disabled selected>Wybierz marke</option>
                            <%listProducts.forEach(product =>{%>
                                <option value="<%=product._id%>"><%=product.name%></option>
                            <%})%>
                        </select>
                        <label>Materialize Multiple Select</label>
                    </div>
                </div>  
                <div class="button-styling-large center-button">
                    <button type="submit" class="btn button-styling-large submit">Akutalizuj</button>
                </div>
            </form>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">remove_shopping_cart</i><p class="no-margin">Usuń nazwy produktów potrzebnych do zabiegów<br>
            <small>Pamiętaj, że po usunięciu może wystąpić problem z usunięciem rekordu w zabiegach. </small></p></div>
        <div class="collapsible-body">
            <form action="/settings/delete-product-for-treatments?_method=DELETE" method="POST">
                <div class="row">
                    <div class="input-field col s12 dropdown" >
                        <select multiple name="selectedProductForTreatment" >
                            <option value="" disabled selected>Wybierz marke</option>
                            <%productsForTreatment.forEach(product =>{%>
                                <option value="<%=product._id%>"><%=product.prodTreatmentName%></option>
                            <%})%>
                        </select>
                        <label>Materialize Multiple Select</label>
                    </div>
                </div>  
                <div class="button-styling-large center-button">
                    <button type="submit" class="btn button-styling-large submit">Akutalizuj</button>
                </div>
            </form>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">delete_forever
        </i><p class="no-margin">Usuń konto<br>  <small>Jeśli usuniesz konto, wszystkie dane z nim związane zostaną usunięte.</small></p></div>
        <div class="collapsible-body">
            <form action="/settings/delete-account?_method=DELETE" method="POST">
                <div class="button-styling-large center-button">
                    <button type="submit" class="btn button-styling-large submit">Akutalizuj</button>
                </div>
            </form>
        </div>
    </li>
</ul>



