<%-include('../partials/infoMessages.ejs')%>
<div id="top" class="center-main-div">
    <div class="main-div">
        <div class="content">
            <div class="visit">
                <form class="find-visit"action="/document" method="post" enctype="multipart/form-data">
                    <input type="file" id="download" name="file" multiple/>
                    <div class="data-input-from ui-widget ">
                        <input type="text" class="myInputSearch"   placeholder="Szukaj Klienta" autocomplete="off" >  
                    </div>
                    <div class="download_file_wrapper">
                        <label for="download" ><i class="fas fa-download"></i></label>
                        <div class="download_file_border" id="p">
                            <p class="download_file" ></p>
                        </div>
                       
                    </div>
                    <div class="add-button-wrapper">
                        <button type="submit"  class="add-button" value="dodaj"><i class="fa fa-arrow-circle-right fa-lg"></i> </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<div class="main-div-full-content .main-div-toogle">
    <div class="main-div-center ">
        <% if(files) {%> 
            <div class="content-div">
                <% for(var i = 0 ; i< files.length ; i++){%>
                    <% if(files[i].metadata.user == user.id){%>
                        <div class="visit">
                
                            <form method="post"action="/document/<%=files[i]._id %>?_method=DELETE">
                                <button type="submit" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                            <div class="div-element"   onclick="location.href='document/<%=files[i].filename%>';" >
                                <p name="header" value="<%=files[i]._id%>">
                                    <%=files[i].metadata.initialFilename%>
                               </p>
                             
                               <div class="first-p-element">
                                <p class="headerVisit">Data dodania</p>
                                <p ><%=files[i].uploadDate.toISOString().split('T')[0] %> </p>
                            </div>       
                            </div>
                        </div> 
                   
                    <% } %> 
                <%} %> 
            </div>
        <% } %> 
    </div>
</div>
<%-include('../partials/shopping-list.ejs')%>


<script>
    window.onload = function(){
        if(!window.location.hash){
        window.location = window.location +'#loaded';
        window.location.reload();
        }
    }
    $(document).ready(function(){

    })  
    $('.download_file_border').click(function(){
        $('#download').click();
    })
    $(document).on('change','#download',function(){
        let elem = $('#download').val();
        
        if($('#download').prop('files').length >= 2)
            $('.download_file').text(elem+ ' '+$('#download').prop('files').length+' pliki')
        else if($('#download').prop('files').length >= 10)
            $('.download_file').text(elem+ ' '+$('#download').prop('files').length+' plików')
        else
            $('.download_file').text(elem)
        
    })
  
</script>