<%-include('../partials/infoMessages.ejs')%>
<%-include('./doc-list.ejs')%>
<div class="row main-row z-depth-1">
    <form class="col s12"  action="/document" method="POST" enctype="multipart/form-data">
        <div class="input-field col s12 m6 l4 xl5">
            <input type="text" list="options-1" id="searchby-1" class="myInputSearch " name="name" autocomplete="off" >
            <label for="searchby-1" class="active">Nazwa Listy</label>  
        </div>
        <div class="col s12 m6 l4 xl5">
            <div class="file-field input-field ">
                <div class="btn">
                  <span>File</span>
                  <input type="file" multiple name="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate"   type="text" placeholder="Upload one or more files">
                </div>
            </div>
        </div>
        <div class="row button-row">
            <div class="col s12 m1 l1 center-button-small">
                <button type="submit"  class="waves-effect waves-light  modal-trigger btn-small  " value="dodaj"><i class="material-icons">
                    send
                </i> 
                </button>
            </div>
        </div>
     
    </form>
</div>
<div class="row information-row">
    <div class="col s12 ">
        <% if(files) {%> 
            <% for(var i = 0 ; i< files.length ; i++){%>
                <div class="col s12 m12 l4 top-separator width-50 ">
                    <div class="card max-width-card">
                        <div class="card-header ">
                            <form method="post"action="/document/<%=files[i]._id %>?_method=DELETE">
                                <button type="submit" class="close close-absolute" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                            
                            <p class="col search-by elipsis" data-value="<%=files[i].metadata.initialFilename%>"><%=files[i].metadata.initialFilename %></p>
                        </div>
                        <div class="card-content"  onclick="window.open('document/<%=files[i].filename%>','_blank')">
                            <div class="col s12 m6 l12">
                                <label>Data dodania</label>
                                <p><%=files[i].uploadDate.toISOString().split('T')[0] %> </p>
                            </div>
                            <div class="col s12 m6 l12">
                                <label>Typ pliku</label>
                                <p><%=files[i].contentType.split('/')[1] %> </p>
                            </div>
                        </div>
                    </div>
                </div>

                
        
            <%} %> 
        <% } %> 
    </div>     
</div>
       
<%-include('../partials/shopping-list.ejs')%>

<script>
    /*window.onload = function(){
        if(!window.location.hash){
        window.location = window.location +'#loaded';
        window.location.reload();
        }
    }*/

</script>