<%-include('../partials/infoMessages.ejs')%>
<div id="top" class="center-main-div">
    <div class="main-div">
        <div class="content">
            <div class="visit">
                <form class="find-visit"action="/document" method="post" enctype="multipart/form-data">
                    <input type="file" id="download" name="file" multiple/>
                    <div class="data-input-from ui-widget ">
                        <input type="text" class="myInputSearch doc-search"   placeholder="Szukaj Dokumentu" autocomplete="off" >  
                    </div>
                    <div class="download_file_wrapper">
                        <label for="download" ><i class="fas fa-download"></i></label>
                        <div class="download_file_border" >
                            <p class="download_file" >Wybierz plik</p>
                        </div>
                       
                    </div>
                    <div class="add-button-wrapper">
                        <button type="submit"  class="add-button" value="dodaj"><i class="fa fa-arrow-circle-right fa-lg"></i> </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="main-div-full-content .main-div-toogle">
    <div class="main-div-center ">
        <% if(files) {%> 
            <div class="content-div">
                <% for(var i = 0 ; i< files.length ; i++){%>
                    <% if(files[i].metadata.user == user.id){%>
                        <div class="visit">
                
                            <form method="post"action="/document/<%=files[i]._id %>?_method=DELETE">
                                <button type="submit" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                            <div class="div-element"   onclick="location.href='document/<%=files[i].filename%>';" >
                                <p name="header" value="<%=files[i]._id%>">
                                    <%=files[i].metadata.initialFilename%>
                               </p>
                             
                               <div class="first-p-element">
                                <p class="headerVisit">Data dodania</p>
                                <p ><%=files[i].uploadDate.toISOString().split('T')[0] %> </p>
                            </div>       
                            </div>
                        </div> 
                   
                    <% } %> 
                <%} %> 
            </div>
        <% } %> 
    </div>
</div>


    <ul class="doc "  >
        <% if(files){%>
            <% files.forEach(file => { %>
                <li><%=file.metadata.initialFilename%></li>
            <%}); %>
       <%   } %> 
  
    </ul>
    <div  class="statistics"></div>
    <%-include('../partials/shopping-list.ejs')%>
<script src="../../public/toggle_main_page_list.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../../public/js/shopping_list_min.js"></script>
<script>
    window.onload = function(){
        if(!window.location.hash){
        window.location = window.location +'#loaded';
        window.location.reload();
        }
    }

</script>