<datalist id="searchTemplate-<%=id_extention%>">
    <% clients.forEach(client => { %>
        <option value="<%=client.name%> <%=client.lastName%>" id="<%=client.phoneNumber%>" ><%=client.phoneNumber%></option>
    <%}); %>
</datalist>
<datalist id="clientOptions-<%=id_extention%>"></datalist>