<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

<!--Time Picker-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../public/css/user/front_page/index.css">
<% if(messages.created){ %>
    <div id="hideAlert" class="alert alert-<%=messages.success%>"> <%=messages.created%> </div>
<% } %>
<form  action="/calendar" method="GET">
    <input id="datepicker" width="312" name="dateTime"  value="<%=searchOptions.dateTime%>" />
    <button type="submit">Szukaj</button>
</form>
<button id ="showForm" onclick="showFormm()">Dodaj Wizyte</button>
<form method="POST" action="/calendar/visit" >
    <div style="display: none;width: 400px;" id ="comapnyForm"  >
       
        <span id ="close"class="close" onclick="closeForm()">&times;</span>
        <input name="clientName" value="" placeholder="Imie" value="<%=newVisit.clientName%>" >
        <input name="clientLastName" value="" placeholder="Nazwisko">
        <button type="button" href="#"id ="showClient" onclick="showClientt()">Dodaj Klienta</button>
        <div id ="clientSelect"  style="display: none;">
            <select name="clients">
                <% clients.forEach(client => { %>
                    <% if(client.id === newVisit.client ){ %>
                        <option selected label="<%=newVisit.client.name%> <%=newVisit.client.lastName%>" value="<%=client.id%>"></option>
                    <% }else{ %>
                        <option  label="<%=client.name%> <%=client.lastName%>" value="<%=client.id%>"></option>
                    <% } %>
                <%}); %>
            </select>
        </div>
        <%- include('./_form_field__select_treatment.ejs') %> 
        <input id="datapickerAdd" name ="visitDate"width="312" name="dateTime"  value="<%=newVisit.visitDate  %> " />
        <input id="timepickerFrom" name="timeFrom"  width="276" placeholder="Czas zakończenia" value="<%=newVisit.timeFrom  %>" /><br>
        <input id="timepickerTo" name="timeTo" width="276" placeholder="Czas rozpoczęcia" value="<%=newVisit.timeTo  %>" />
      
        <button type="submit">Dodaj</button>
    </div>
</form>
<% for(var i = 0 ; i< newVisit.length ; i++){%>
    <p><%= newVisit[i].client != undefined ? newVisit[i].client.name :'' %> <%= newVisit[i].client != undefined? newVisit[i].client.lastName :'' %></p> 
    <p><%= newVisit[i].clientName !=undefined? newVisit[i].clientName :''  %> <%= newVisit[i].clientLastName != undefined ? newVisit[i].clientLastName : ''%></p>  
    <p><%= newVisit[i].visitDate == null ? '' : newVisit[i].visitDate.toISOString().split('T')[0] %></p>  
    <p><%= newVisit[i].timeFrom %>  <%=newVisit[i].timeTo%>  </p>  
    <p><%= newVisit[i].treatment== null?'':newVisit[i].treatment.treatmentName %> </p>
    <br>
<%} %> 

<h1>Lista Zakupów</h1>
<%shoppingTwoDaysFromNow.forEach(element => {%>
    <p><%= element.transactionDate == null ? '' : element.transactionDate.toISOString().split('T')[0] %> </p>  
    <p><%= element.totalPrice %> </p>  
    <p><%= element.listName.name == null ? '' :element.listName.name %> </p>  
    <br>
<%}); %> 


<script src="../public/dataTimePicker.js"></script> 