<%-include('../partials/infoMessages.ejs')%>
<%-include('../partials/arrayMessage.ejs')%>
<div class="center-main-div">
    <div class="main-div">
        <div class="content">
            <div class="visit">
                    <form class="find-visit"  action="/calendar" method="GET">
                        <input placeholder="Od" id="dataFrom" name="visitAfter"   autocomplete="off" value="<%=searchOptions.visitAfter%>"  />
                        <input placeholder="Do" id="dataTo"  name="visitBefore"   autocomplete="off" value="<%=searchOptions.visitBefore%>" />
                        <input type="hidden">
                        <button type="submit">s</button>
                    </form>
            <!--onclick="showFormm()"-->
                <button class="button_action"id ="showForm" ><i class="fas fa-plus"></i></button>
            </div>
    
               
        
        </div>
    </div>
</div>
<div class="create-visit-form" id="visitForm">
    <form method="POST" action="/calendar/visit" class="center-form">
      
        <div  id ="comapnyForm" class="form">
            <!--onclick="closeForm()"-->
            <span id ="close"class="close" >&times;</span>
            <div class="form-content">
                
                <%-include('./newVisit-editVisit.ejs')%>
                <input  id="datapickerAdd"  name ="visitDate"  placeholder="YYYY-MM-DD"  autocomplete="off" required />
                <input   id="timepickerFrom" onclick="$timepickerFrom.open()" name="timeFrom"   placeholder="Czas rozpoczęcia" value="<%=newVisit.timeFrom  %>" autocomplete="off" required />
                <input   id="timepickerTo"onclick="$timepickerTo.open()"name="timeTo"  placeholder="Czas zakończenia" value="<%=newVisit.timeTo  %>" autocomplete="off" />

                <button type="submit">Dodaj</button>
                <%-include('./toogleList.ejs')%>
            </div>
   
        </div>
    </form>
</div>

<div class="visit-div">
    <% for(var i = 0 ; i< newVisit.length ; i++){%>
        <div class="visit">
            <form method="post" action='/calendar/<%=newVisit[i]._id%>?_method=DELETE'>
                <button type="submit" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
            
    
            <div class="visit-edit" 
            client ="<%= newVisit[i].client != undefined ? newVisit[i].client.name :newVisit[i].newClient %> <%= newVisit[i].client != undefined? newVisit[i].client.lastName :'' %>" 
            clientId="<%=newVisit[i].client!= null ?newVisit[i].client._id:newVisit[i].newClient%>",
            treatment="<%= newVisit[i].treatment== null?newVisit[i].newTreatment:newVisit[i].treatment.treatmentName %>",
            treatmentId="<%= newVisit[i].treatment!= null?newVisit[i].treatment._id:newVisit[i].newTreatment %>",
            visitDate ="<%=newVisit[i].visitDate == null ? '' : newVisit[i].visitDate.toISOString().split('T')[0]%>",
            timeFrom="<%= newVisit[i].timeFrom %>",
            timeTo="<%=newVisit[i].timeTo%>",
            phone ="<%= newVisit[i].phoneNumber%>",
            visitId="<%= newVisit[i]._id%>",
            clientState="<%= newVisit[i].clientState%>",
            treatmentState="<%= newVisit[i].treatmentState%>"
            >
                <p ><%= newVisit[i].client != undefined ? newVisit[i].client.name :newVisit[i].newClient %> <%= newVisit[i].client != undefined? newVisit[i].client.lastName :'' %></p>
                <p class="headerVisit">Telefon</p>
                <p><%= newVisit[i].phoneNumber%></p> 
                <p class="headerVisit">Data</p>
                <p><%= newVisit[i].visitDate == null ? '' : newVisit[i].visitDate.toISOString().split('T')[0] %></p> 
                <p class="headerVisit">Godzina</p> 
                <p><%= newVisit[i].timeFrom %> - <%=newVisit[i].timeTo%>  </p>  
                <p class="headerVisit">Zabieg</p>
                <p><%= newVisit[i].treatment== null?newVisit[i].newTreatment:newVisit[i].treatment.treatmentName %> </p>
            </div>
        </div>   
    <%} %> 
</div>


<%if(addView == true){%>
    <p>jstem</p>
<%}%>
<h1>Lista Zakupów</h1>
<%shoppingAll.forEach(element => {%>
    <p><%= element.transactionDate == null ? '' : element.transactionDate.toISOString().split('T')[0] %> </p>  
    <p><%= element.totalPrice %> </p>  
    <p><%= element.listName.name == null ? '' :element.listName.name %> </p>  
    <br>
<%}); %> 

<form method="POST" class="formEdit" action="" >
    <div style="display: none;width: 400px;" class ="openForm"  >
        <span class="close closeEdit" onclick="closeForm()">&times;</span>
        <%-include('./newVisit-editVisit.ejs')%>
        <input placeholder="Od"  class="visitDate"  id="datapickerAddEdit" name="visitDateEdit"   autocomplete="off"   />

        <input id="timepickerFromEdit" class="timeFrom"onclick="$timepickerFromEdit.open()" name="timeFromEdit"  width="276" placeholder="Czas rozpoczęcia"  autocomplete="off" /><br>
        <input id="timepickerToEdit"class="timeTo" onclick="$timepickerToEdit.open()"name="timeToEdit" width="276" placeholder="Czas zakończenia" autocomplete="off" />
        <button class="button"type="submit">Edituj</button>
        <%-include('./toogleList.ejs')%>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script src="../../public/dataTimePicker.js"></script>
<script>
 $(document).ready(function(){
     $('.list li').filter(function(){
        let value = $(".myInput").val().toLowerCase()
        console.log(value)
        let valueTreatement = $(".myInputTreatment").val().toLowerCase()
        if( $(".myInputTreatment").val()=='' ||$(this).text().toLowerCase().indexOf(valueTreatement) == -1) 
            $('.listTreatment li').hide()
        
        if( $(".myInput").val()==''|$(this).text().toLowerCase().indexOf(value) >= -1)  
            $('.list li').hide()
    })
    $(".visit-edit").click(function(){
      $('.button').click(function(){
        $('.formEdit').attr('action',`/calendar/edit/${$('.visit-edit').attr('visitId')}?_method=PUT` )
      })
        
        $('.openForm').show();
        $('.closeEdit').click(function(){
            console.log('jestem')
            $('.openForm').closest('form').find("input").val('')
            $('#comapnyForm').closest('form').find("input").val('')
            $('.openForm').hide();
            $('.list li').hide()
            $('.listTreatment li').hide()
        })
        $(".myInput").val( $(this).attr('client'));
        $(".hiddenInput").val( $(this).attr('clientId'));
        $(".phone").val( $(this).attr('phone'));

        $(".myInputTreatment").val( $(this).attr('treatment'));
        $(".hiddenInputTreatment").val( $(this).attr('treatmentId'));
        $(".hiddenInput").attr('name', $(this).attr('clientState'))
        $(".hiddenInputTreatment").attr('name',$(this).attr('treatmentState'))

        $(".timeFrom").val( $(this).attr('timeFrom'));
        $(".timeTo").val( $(this).attr('timeTo'));
     
        $(".treatmentState").val( $(this).attr('treatmentState'))
        $(".clientState").val($(this).attr('clientState'))
        $(".visitDate").val($('.visit-edit').attr('visitDate'))

        $('.myInput').on('keyup', function(){
            $('.myInput').val($(this).val())
            $(".hiddenInput").val( $('.myInput').val());  
        })
        $('.myInputTreatment').on('keyup', function(){
            $('.myInputTreatment').val($(this).val())
            $(".hiddenInputTreatment").val( $('.myInputTreatment').val());
        })
    })
    $(".myInputTreatment").on('keyup', function(){
        let value = $(this).val().toLowerCase()
        if (value.length == 0) 
            $('.listTreatment').hide();
        else
            $('.listTreatment').show();
            $(".hiddenInputTreatment").attr('name','newTreatment')
            $(".treatmentState").val('newTreatment')
            $(".hiddenInputTreatment").val( $('.myInputTreatment').val());

        $('.listTreatment li').filter(function(){
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        
            $(this).click(function(){
                $('.myInputTreatment').val($(this).text())
                $(".treatmentState").val('treatment')

                $(".hiddenInputTreatment").attr('name','treatment')
                $(".hiddenInputTreatment").val( $('.myInputTreatment').val());
                $(".hiddenInputTreatment").val( $(this).attr('value'));
                $('.listTreatment').hide();
              
            })
        })
    
    })
    $(".myInput").on('keyup', function(){
        $('.clients-list').show()
       
        let size =($(".clients-list .list  li").length)/2;
        console.log(size)
        if(size > '3'){
            
           
        }
        let value = $(this).val().toLowerCase()
        if (value.length == 0) 
            $('.clients-list').hide()
            
            $(".clientState").val('newClient')
            $(".hiddenInput").attr('name','newClient')
            $(".hiddenInput").val( $('.myInput').val());
     
        $('.list li').filter(function(){
            $(`.clients-list .list ul`).css('overflow','hidden')
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            $(this).click(function(){
                $('.phone').val($(this).attr('phone'))
                $('.myInput').val($(this).text())
                $(".clientState").val('clients')
                $(".hiddenInput").attr('name','clients')
                $(".hiddenInput").val( $(this).attr('value'));
                $('.clients-list').hide();
             
            })
        })
    })

    $("#showForm").click(function(){
        $('#visitForm').show();
    })
    $('#close').click(function(){
        $('#visitForm').hide();
    })
  })

  /*function showFormm(){
    let comapnyForm = document.getElementById('comapnyForm');
    let visitForm = document.getElementById('visitForm');
    let input = document.getElementById('input')
    if(comapnyForm){
        comapnyForm.style.display = 'block';
        visitForm.style.display = 'block'
       // editForm.style.display = 'block'
        console.log('jestem')
        if(input)
            input.focus(); 
    }
}
 function closeForm (){
    let comapnyForm = document.getElementById('comapnyForm') ;
    let visitForm = document.getElementById('visitForm');
    if(comapnyForm){
        comapnyForm.style.display = 'none'
        visitForm.style.display = 'none'
       // editForm.style.display = 'none'

    }
}*/
</script>