<div>
    <input type="text" name="name" placeholder="imie" value="<%=clients.name%>" required >
    <input type="text"  name="lastName" placeholder="nazwisko" value="<%=clients.lastName%>"required >
  
</div>
<div>
    <input type="tel" minlength="9" name="phoneNumber" placeholder="telefon"  value="<%=clients.phoneNumber%>" required>
    <input type="date" name="dateOfBirth" value="<%=clients.dateOfBirth == null ? '' : clients.dateOfBirth.toISOString().split('T')[0]%>"   >
    
</div>

<h4>Diagnoza skóry</h4>
          

<div class="diagnos_wrapper" >
  
    <div class="skin_diagnose_left">             
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.drySkin.value != true){%>
                <input type="checkbox" id="dry_skin" name="drySkin"  value="<%=clients.skinDiagnoseAll.drySkin.value=true%>" >
            <%}else{%>
                <input type="checkbox" id="dry_skin" name="drySkin"  value="<%=clients.skinDiagnoseAll.drySkin.value=true%>"checked >
            <%}%>
            <span class="new_checbox"></span>
            <i for="dry_skin" class="fas fa-check"></i>
            <label for="dry_skin"> Suchość</label>
        </div>
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.wrinkless.value != true){%>
                <input type="checkbox" id="wrinkless_skin" value="<%=clients.skinDiagnoseAll.wrinkless.value=true%>" name="wrinkless"> 
            <%}else{%>
                <input type="checkbox" id="wrinkless_skin" value="<%=clients.skinDiagnoseAll.wrinkless.value=true%>" name="wrinkless" checked> 
            <%}%>
            <span class="new_checbox"></span>
            <i for="wrinkless_skin" class="fas fa-check"></i>
            <label for="wrinkless_skin">Zmarszczki i drobne linie</label>
        </div>
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.lackfirmnes.value != true){%>
                <input type="checkbox" id="juicy_skin" value="<%=clients.skinDiagnoseAll.lackfirmnes.value=true%>" name="lackfirmnes">
            <%}else{%>
                <input type="checkbox" id="juicy_skin" value="<%=clients.skinDiagnoseAll.lackfirmnes.value=true%>" name="lackfirmnes" checked>
            <%}%>
            <span class="new_checbox"></span>
            <i for="juicy_skin" class="fas fa-check"></i>
            <label for="juicy_skin">Brak jędrności</label>
        </div> 
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.nonuniformColor.value != true){%>
                    <input type="checkbox" id="dif_color_skin" value="<%=clients.skinDiagnoseAll.nonuniformColor.value=true%>" name="nonuniformColor">
            <%}else{%>
                    <input type="checkbox" id="dif_color_skin" value="<%=clients.skinDiagnoseAll.nonuniformColor.value=true%>" name="nonuniformColor" checked>
             <%}%>
            <span class="new_checbox"></span>
            <i for="dif_color_skin" class="fas fa-check"></i>
            <label for="dif_color_skin">Niejednolity koloryt</label>
        </div> 
        <div  class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.tiredness.value != true){%>
                <input type="checkbox" id="tired_skin" value="<%=clients.skinDiagnoseAll.tiredness.value=true%>" name="tiredness">
            <%}else{%>
                <input type="checkbox" id="tired_skin" value="<%=clients.skinDiagnoseAll.tiredness=true%>" name="tiredness" checked>
            <%}%>
            <span class="new_checbox"></span>
            <i for="tired_skin" class="fas fa-check"></i>
            <label for="tired_skin">Zmęczenie - stres</label>
        </div> 
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.acne.value != true){%>
                <input type="checkbox" id="spotted_skin" value="<%=clients.skinDiagnoseAll.acne.value=true%>" name="acne">
            <%}else{%>
                <input type="checkbox" id="spotted_skin" value="<%=clients.skinDiagnoseAll.acne.value=true%>" name="acne" checked>         
            <%}%>
            <span class="new_checbox"></span>
            <i for="spotted_skin" class="fas fa-check"></i>
            <label for="spotted_skin">Trądzik grudkowy</label>
        </div>
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.smokerSkin.value != true){%>
                <input type="checkbox" id="smoker_skin" value="<%=clients.skinDiagnoseAll.smokerSkin.value=true%>" name="smokerSkin">
            <%}else{%>
                <input type="checkbox" id="smoker_skin" value="<%=clients.skinDiagnoseAll.smokerSkin.value=true%>" name="smokerSkin" checked>
            <%}%>
            <span class="new_checbox"></span>
            <i  for="smoker_skin" class="fas fa-check"></i>
            <label for="smoker_skin">Skóra palacza</label>
        </div> 
    </div>

    <div class="skin_diagnose_right">
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.fatSkin.value != true){%>
                <input type="checkbox" id="fat_skin" value="<%=clients.skinDiagnoseAll.fatSkin.value=true%>" name="fatSkin">
            <%}else{%>
                    <input type="checkbox" id="fat_skin" value="<%=clients.skinDiagnoseAll.fatSkin.value=true%>" name="fatSkin" checked>
            <%}%>
        
        <i for="fat_skin" class="fas fa-check"></i>
        <span for="fat_skin" class="new_checbox"></span>
        <label for="fat_skin"> Przetłuszczanie się</label>
        </div>
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.discoloration.value != true){%>
                <input type="checkbox" id="discoloration_skin" value="<%=clients.skinDiagnoseAll.discoloration.value=true %>" name="discoloration">
            <%}else{%>
                <input type="checkbox" id="discoloration_skin" value="<%=clients.skinDiagnoseAll.discoloration.value=true %>" name="discoloration" checked>
            <%}%>
            <i for="discoloration_skin" class="fas fa-check"></i>
            <span class="new_checbox"></span>
            <label for="discoloration_skin">Przebarwienia</label>
        </div>
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.blackheads.value != true){%>
                <input type="checkbox" id="spotts_skin" value="<%=clients.skinDiagnoseAll.blackheads.value=true%>" name="blackheads">
            <%}else{%>
                <input type="checkbox" id="spotts_skin" value="<%=clients.skinDiagnoseAll.blackheads.value=true%>" name="blackheads" checked>
            <%}%>
            <i for="spotts_skin" class="fas fa-check"></i>
            <span class="new_checbox"></span>
            <label for="spotts_skin">Zaskórniki</label>
        </div>
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.darkCirclesEyes.value != true){%>
                <input type="checkbox" id="shadows_skin" value="<%=clients.skinDiagnoseAll.darkCirclesEyes.value=true%>" name="darkCirclesEyes">
            <%}else{%>
                <input type="checkbox" id="shadows_skin" value="<%=clients.skinDiagnoseAll.darkCirclesEyes.value=true%>" name="darkCirclesEyes" checked>
            <%}%>
            <i for="shadows_skin"class="fas fa-check"></i>
            <span class="new_checbox"></span>
            <label for="shadows_skin">Cienie - opuchnięcia pod oczami</label>
        </div>
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.dilatedCapillaries.value != true){%>
                <input type="checkbox" id="capillaries_skin" value="<%=clients.skinDiagnoseAll.dilatedCapillaries.value=true%>" name="dilatedCapillaries">
            <%}else{%>
                <input type="checkbox" id="capillaries_skin" value="<%=clients.skinDiagnoseAll.dilatedCapillaries.value=true%>" name="dilatedCapillaries" checked>
            <%}%>
            <i  for="capillaries_skin"class="fas fa-check"></i>
            <span class="new_checbox"></span>
            <label for="capillaries_skin">Rozszerzone naczynka</label>
        </div>
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.papularPustularAcne.value != true){%>
                <input type="checkbox" id="acne_skin" value="<%=clients.skinDiagnoseAll.papularPustularAcne.value=true%>" name="papularPustularAcne">
            <%}else{%>
                <input type="checkbox" id="acne_skin" value="<%=clients.skinDiagnoseAll.papularPustularAcne.value=true%>" name="papularPustularAcne" checked>
            <%}%>
            <i for="acne_skin" class="fas fa-check"></i>
            <span class="new_checbox"></span>
            <label for="acne_skin">Trądzik grudkowo - kostkowy</label>
        </div>
        <div class="skin_diagnos_label">
            <%if(clients.skinDiagnoseAll.externallyDrySkin.value != true){%>
                <input type="checkbox" id="outside_dry_skin" value="<%=clients.skinDiagnoseAll.externallyDrySkin.value=true%>" name="externallyDrySkin">
                <%}else{%>
                <input type="checkbox" id="outside_dry_skin" value="<%=clients.skinDiagnoseAll.externallyDrySkin.value=true%>" name="externallyDrySkin" checked>
                <%}%>
            <i for="outside_dry_skin" class="fas fa-check"></i>
            <span class="new_checbox"></span>
            <label for="outside_dry_skin">Zewnętrznie przesuszona</label>
        </div>
    </div>

</div>
<div class="under_input">                     
    <label id="other"></label><br>
    <i class="fas fa-comment-dots"></i>
    <input type="TEXT" id="other" placeholder="inne..." onfocusout="hide_placeholder(this)" onfocus="show_placeholder(this)" name="other" value="<%=clients.skinDiagnoseAll.other%>" >
</div>

