
<h4>Wywiad</h4>
<textarea placeholder="Czym myta jest twarz?" name="washingFace" value="<%=clients.washingFace%>"><%=clients.washingFace%></textarea>
<textarea placeholder="Czym występuje uczucie napięcia twarzy?"name="faceTension" value="<%=clients.faceTension%>"><%=clients.faceTension%></textarea>
<textarea placeholder="Czy obecnie są stosowane jakieś kremy?" name="currentFaceCreams" value="<%=clients.currentFaceCreams%>"><%=clients.currentFaceCreams%></textarea>

<h4>Zakupy</h4>
<textarea placeholder="Produkty zakupione w gabinecie" name="shopping" value="<%=clients.shopping%>"><%=clients.shopping%></textarea>

<h4>Plan</h4>
<textarea placeholder="Diagnoza 1" name="diagnose1" value="<%=clients.diagnose1%>"><%=clients.diagnose1%></textarea>
<textarea placeholder="Plan zabiegów" name="teraphyPlan" value="<%=clients.teraphyPlan%>"><%=clients.teraphyPlan%></textarea>
<textarea placeholder="Zalecana pielęgnacja" name="recommendedCare" value="<%=clients.recommendedCare%>"><%=clients.recommendedCare%></textarea>
