
    <input type="date" name="clientVisitDate" 
    value= "<%=newVisit.clientVisitDate == null ? '': newVisit.clientVisitDate.toISOString().split('T')[0] %>" >
    <div class="data-input-from ui-widget">
        <input class="treatment-search" name="treatmentName" id="treatmentName">
    </div>
 
    <div class="treatments-list create">
        <ul class="listTreatment list"  >
            <% treatments.forEach(treatment => { %>
                <li value="<%=treatment._id%>"><%=treatment.treatmentName%></li>
            <%}); %>
        </ul>
    </div>
    <textarea id="comment"maxlength="150" placeholder="Dodaj diagnoze" name="comment" value="<%=newVisit.comment%>"><%=newVisit.comment%></textarea>
    <textarea id="shopping"maxlength="150" placeholder="Dodaj zakupy" name="shopping" value="<%=newVisit.shopping%>"><%=newVisit.shopping%></textarea>
