<button onclick="window.location='/clients/clientView/<%=curentClient%>/edit'">Edit</button>
<% if(clientInfo.visitDate != null) {%> 
    <p>Pierwsza wizyta :<%=clientInfo.visitDate == null ? '' :clientInfo.visitDate.toISOString().split('T')[0] %></p>
<% } %> 
<% if(clientInfo.nextVisitDate != null) {%> 
    <p>Natępna wizyta :<%=clientInfo.nextVisitDate == null ? '' :clientInfo.nextVisitDate.toISOString().split('T')[0] %></p>
<% } %> 
<% if(clientInfo.dateOfBirth != null) {%> 
    <p>Urodziny: <%=clientInfo.dateOfBirth == null ? '' :clientInfo.dateOfBirth.toISOString().split('T')[0] %></p>
<% } %> 
<p>Imie  <%=clientInfo.name%> Nazwisko  <%=clientInfo.lastName%></p>
<p><%=clientInfo.phoneNumber%></p>

<% if(clientInfo.skinDiagnoseAll != null){ %> 
<p>Alldiagnose2</p>
<% } %> 
<%Object.keys(clientInfo.skinDiagnoseAll).forEach(element=>{%>
    <% if(clientInfo.skinDiagnoseAll[element].value == true && element !='$init'){ %> 
        <ul>
            <li> <%=clientInfo.skinDiagnoseAll[element].name %></li>
        </ul>
    <% } %> 
<%})%>
<p>Czym myta twarz:  <%=clientInfo.washingFace  %> </p>
<p>Czy występuje napięcie twarzy:  <%=clientInfo.faceTension  %> </p>
<p>Obecnie używane kremy:  <%=clientInfo.currentFaceCreams  %> </p>
<p>Zakupy:  <%=clientInfo.shopping  %> </p>
<p>Wstępna diagnoza:  <%=clientInfo.diagnose1  %> </p>
<p>Plan zabiegów:  <%=clientInfo.teraphyPlan  %> </p>
<p>Zalecana pilęgnacja:  <%=clientInfo.recommendedCare  %> </p>


<br>
<% for(var i=0;i<addedVisist.length;i++){ %> 
    <%if(addedVisist[i].client == curentClient){%>
        <%treatments.forEach(treatmentt=>{%>
            <%if(addedVisist[i].treatment == treatmentt.id && addedVisist[i].comment !='default'){%>
                <p > <%= treatmentt.treatmentName %> <%= treatmentt.treatmentPrice %> Data wizyty: <%=addedVisist[i].clientVisitDate ==null ? '':addedVisist[i].clientVisitDate.toISOString().split('T')[0] %>  <%=addedVisist[i].comment %>      <%- include(`../partials/deleteForm.ejs`, {url: `/clients/clientView/${addedVisist[i].id}`})%> </p>
            
            <% } %> 
        <% }) %>
    <%}%>
<%} %> 

<br>
<br>

<form action='/clients/clientView/<%=curentClient%>' method="POST">
    <!--Section for adding coments-->
    <div>
        <input type="date" name="clientVisitDate" 
        value= "<%=newVisit.clientVisitDate == null ? '': newVisit.clientVisitDate.toISOString().split('T')[0] %>">
    </div>
    <div>
        <select name="treatment">
        <% treatments.forEach(treatment => { %>
            <% if(treatment.id === newVisit.treatment){ %>
                <option selected label="<%=treatment.treatmentName%>" value="<%=treatment.id%>"><%=treatment.treatmentName%></option>
            <% }else{ %>
                <option  label="<%=treatment.treatmentName%>" value="<%=treatment.id%>"><%=treatment.treatmentName%></option>
            <% } %>
        <%}); %>
        </select>
    </div>
    <div>
        <textarea name="comment" value=<%=newVisit.treatment  %> ></textarea>
    </div>
    <button type="submit">Dodaj</button>
</form>
