
<%-include('./pdfVisitsTemplate.ejs') %>

<article class="checked-visits-hidden visits-styling">
    <div class="inner-content">
        <div class="top-box">
                <div class="input-section">
                    <div class="input">
                        <input type="text" placeholder="Zabieg">
                    </div>
                    <div class="input">
                        <input  id="dataFrom" placeholder="Od">
                    </div>
                    <div class="input">
                        <input  id="dataTo" placeholder="Do">
                    </div>
                </div>
            
              
                <div class="button-section">
                    <button><i class="fas fa-search"></i></button>
                    <button ><i class="fas fa-chevron-circle-left"></i></button>
                    <button  onclick='pdfVisits();'><i class="fas fa-file-download"></i></button>
              
                    <button ><i class="fas fa-plus"></i></button>
                </div>
        </div>       
    </div>
    
    <div class="main-div-full-content">
        <div class="main-div-center  ">
            <div class="content-div">
                <%addedVisist.forEach(element => { %> 
                    <!-- --> 
                    <div   onclick="showFormm()">Show add Form</div>
                    
             
                    <div class="visit">
                        <form method="post" action="/clients/client-view/<%=clientInfo.id%>?_method=DELETE ">
                            <button type="submit" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </form>  
                  
                        <div class="div-element"   onclick="window.location='/clients/client-view/<%=element._id%>/editPost'" 
                        >
                            
                        <div class="header">
                            <p><%= element.treatment== null ? 'Nie ma w ofercie' :element.treatment  %> </p>
                        </div>
                            <div class="first-p-element">
                                <p class="headerVisit">Komentarz</p>
                                <p><%= element.comment %> </p>
                            </div>
                            <div class=" sec-p-element">
                                <p class="headerVisit">Zakupy</p>
                                <p><%= element.shopping== null ? '' :element.shopping %> </p>
                            </div>
                         
                                             
                        </div>
                    </div>   
                <%} )%> 
             
            </div>
        </div>
    
    </div>
  
</article>


<div class="create-visit-form  close-form create-form ">
    <form action='/clients/client-view/<%=clientInfo.id%>' method="POST">
        <!--Section for adding coments-->
        <%- include('./_form_fields_CreatePost.ejs') %> 
        <button  type="submit">Dodaj</button>
    </form>
</div>