<%-include('../partials/infoMessages.ejs')%>
<%-include('./pdfTemplate.ejs') %>


<button  onclick='pdff(); pdfVisits();'>Print</button>
<br><hr>
<div onclick="window.location='/clients/client-view/<%=clientInfo.id%>/edit'">
    <h1><%=clientInfo.name%> <%=clientInfo.lastName%></h1>
    <p>Numer Telefonu: <%=clientInfo.phoneNumber%></p>
    <% if(clientInfo.visitDate != null) {%> 
        <p>Pierwsza wizyta :<%=clientInfo.visitDate == null ? '' :clientInfo.visitDate.toISOString().split('T')[0] %></p>
    <% } %> 
    <% if(clientInfo.dateOfBirth != null) {%> 
        <p>Urodziny: <%=clientInfo.dateOfBirth == null ? '' :clientInfo.dateOfBirth.toISOString().split('T')[0] %></p>
    <% } %> 

    <p>Diagnoza</p>
    <%Object.keys(clientInfo.skinDiagnoseAll).forEach(element=>{%>
        <% if(clientInfo.skinDiagnoseAll[element].value == true && element !='$init'){ %> 
            <ul>
                <li> <%=clientInfo.skinDiagnoseAll[element].name %></li>
            </ul>
        <% } %> 
    <%})%>
    <p>inne: <%=clientInfo.skinDiagnoseAll.other %> </p>
    <% if(clientInfo.washingFace != '') {%> 
        <p>Czym myta twarz:  <%=clientInfo.washingFace  %> </p>
    <% } %> 
    <% if(clientInfo.faceTension != '') {%> 
        <p>Czy występuje napięcie twarzy:  <%=clientInfo.faceTension  %> </p>
    <% } %> 
    <% if(clientInfo.currentFaceCreams != '') {%> 
        <p>Obecnie używane kremy:  <%=clientInfo.currentFaceCreams  %> </p>
    <% } %>
    <% if(clientInfo.shopping != '') {%>  
        <p>Zakupy:  <%=clientInfo.shopping  %> </p>
    <% } %>
    <% if(clientInfo.diagnose1 != '') {%>  
        <p>Wstępna diagnoza:  <%=clientInfo.diagnose1  %> </p>
    <% } %>
    <% if(clientInfo.teraphyPlan != '') {%>  
        <p>Plan zabiegów:  <%=clientInfo.teraphyPlan  %> </p>
    <% } %>
    <% if(clientInfo.recommendedCare != '') {%>  
        <p>Zalecana pilęgnacja:  <%=clientInfo.recommendedCare  %> </p>
    <% } %>
</div>

<br>
<% if(addedVisist != ''){ %> 
    <h1>Wizyty  </h1>
<%}%>
<button  onclick='pdfVisits();'>Print</button>
<form method="post" action="/clients/client-view/<%=clientInfo.id%>?_method=DELETE ">
   
        <input type="submit" value="Usuń">
        <br>
        <%addedVisist.forEach(element => { %> 
            <!-- --> 
            <div  onclick="window.location='/clients/client-view/<%=element.id%>/editPost'" onclick="showFormm()">
                <p><%= element.clientVisitDate==null ? '':element.clientVisitDate.toISOString().split('T')[0] %> </p>
                <p><%= element.comment %> </p>
                <p><%= element.treatment== null ? 'Nie ma w ofercie' :element.treatment.treatmentName %> </p>
                <p><%= element.treatment== null ? '' :element.treatment.treatmentPrice %> </p>
                <p><%= element.shopping== null ? '' :element.shopping %> </p>
            </div>
            <input type="checkbox" name="chackboxDelet" value="<%=element.id%>" >
            <hr>
        <%});%>   
</form>




<form action='/clients/client-view/<%=clientInfo.id%>' method="POST">
    <!--Section for adding coments-->
    <%- include('./_form_fields_CreatePost.ejs') %> 
    <button type="submit">Dodaj</button>
</form>
<script src="../../public/toggle_main_page_list.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script src="../../public/dataTimePicker.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>