

<%-include('./pdfTemplate.ejs') %>
<%-include('./pdfVisitsTemplate.ejs') %>
<div class="row top-separation-3">
    <div class="col s12 m12 l12 xl12 vertical-align">
        <div class="switch col s12 m12 l3 xl3">
            <label>
                Off
                <input type="checkbox" id="getvalue" onchange="edit_client()">
                <span class="lever" id="getlever"></span>
                On
            </label>
        </div>
        <div class="side-by-side col s12 m12 l9 xl9">
            <button aria-label ="download" class="small-button-styling btn-small btn" onclick='pdff(); pdfVisits();'>
                <i class="material-icons">file_download</i>
            </button>
            <button aria-label ="go-to-oneClient-visits " class="small-button-styling  btn-small btn modal-trigger" href="#create-new-visit">
                <i class="material-icons">note_add</i></button>   
        </div>
    </div>
</div>   
 
<div class="col s12 m12 l12 xl12">

    <form method="post" class="top-separation-3 " action="/clients/client-view/<%=oneClient._id%>?_method=PUT">
        <div class="row header ">
            <div class=" header-content flex-content  ">
                <div class="name add-input-field">
                    <p class=" pTag separate-right" name="name" id="client-name"><%=oneClient.name%> </p>
                </div>
                <div class="name  add-input-field">
                    <p class=" pTag" name="lastName" id="lastname"><%=oneClient.lastName%></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="add-input-field col s12 m6 l4 xl4">
                    <label>Pierwsza wizyta</label>
                    <p class="pTag dateTag " type="text"><%=oneClient.visitDate == null ? '' :oneClient.visitDate.toISOString().split('T')[0] %></p>
                </div>
            
                <div class="add-input-field col s12 m6 l4 xl4">
                    <label for="birthday">Urodziny</label>
                    <p id="birthday" name="dateOfBirth" class="oneClient-info dateTag pTag"><%=oneClient.dateOfBirth == null ? '' :oneClient.dateOfBirth.toISOString().split('T')[0] %></p>
                </div>
                <div class="add-input-field col s12 m6 l4 xl4">
                    <label class="headerVisit" for="tel">Kontakt</label>
                    <p class="oneClient-info pTag" name="phoneNumber" id="tel" type="text"> <%=oneClient.phoneNumber%></p>
                </div>
            </div>
    
        </div>
        <div class="col s12 m12 l12 xl12 top-separation-2">
            <%-include('./skin_condition_fields.ejs') %>
        </div>
        
        <ul class="collapsible">
        
            <li>
            <div class="collapsible-header"><i class="material-icons">notification_important</i>Wywiad</div>
                <div class="collapsible-body">
                    <div class="input-field col s12">
                        <textarea readonly  id="washingFace" name="washingFace" class="materialize-textarea textarea"><%=oneClient.washingFace != ''?oneClient.washingFace:''  %></textarea>
                        <label for="washingFace">Czym myta twarz</label>
                    </div> 
                    <div class="input-field col s12">
                        <textarea readonly id="faceTension" name="faceTension" class="materialize-textarea textarea"><%=oneClient.faceTension != ''?oneClient.faceTension:''  %></textarea>
                        <label for="faceTension">Czy występuje napięcie twarzy</label>
                    </div> 
                    <div class="input-field col s12">
                        <textarea readonly id="currentFaceCreams" name="currentFaceCreams"class="materialize-textarea textarea"><%=oneClient.currentFaceCreams != ''?oneClient.currentFaceCreams :'' %></textarea>
                        <label for="currentFaceCreams">Obecnie używane kremy</label>
                    </div> 
                    <div class="input-field col s12">
                        <textarea readonly  id="shopping" name="shopping" class="materialize-textarea textarea"><%=oneClient.shopping != ''?oneClient.shopping:'' %></textarea>
                        <label for="shopping">Zakupy</label>
                    </div> 
                    <div class="input-field col s12">
                        <textarea readonly  id="diagnose1" name="diagnose1" class="materialize-textarea textarea"><%=oneClient.diagnose1 != ''?oneClient.diagnose1:''  %></textarea>
                        <label for="diagnose1">Wstępna diagnoza</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea readonly  id="teraphyPlan" name="teraphyPlan" class="materialize-textarea textarea"><%=oneClient.teraphyPlan != ''?oneClient.teraphyPlan:''  %></textarea>
                        <label for="teraphyPlan">Plan zabiegów:</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="recommendedCare" name="recommendedCare" class="materialize-textarea textarea"><%=oneClient.recommendedCare != ''?oneClient.recommendedCare:''  %></textarea>
                        <label for="recommendedCare">Zalecana pilęgnacja:</label>
                    </div>
                
                
                </div>
            </li>
        </ul>
        <div class="button-styling-large center-button">
            <button type="submit" style="display: none;" class="btn button-styling-large  submit">Akutalizuj</button>
        </div>
    </form>
   
    <%addedVisit.forEach(element => {%>
        <div class="border-bottom">
            <form method="post" action='/clients/client-view/<%=element.id%>?_method=DELETE'>
                <button type="submit" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
            <div class="row   modal-trigger" href="#edit_visit" onclick="edit_form_client_visit(`<%=element._id%>`, 2)">
                <div class="col s12">
        
                    <div class="col s12 m6 l6 xl6">
                        <label>Data wizyty</label>
                        <p type="text" class=" "><%=element.clientVisitDate == null ?'':element.clientVisitDate.toISOString().split('T')[0]%></p>
                    </div>
                    <div class="col s12 m6 l6 xl6">
                        <label>Zabieg</label>
                        <p type="text"class=""><%=element.treatment%></p>
                    </div>
                    <div class="col s12 m12 l12 xl12">
                        <label>Komentarz</label>
                        <p  type="text " class=""><%=element.comment%></p>
                    </div>
                    <div class="col s12 m12 l12 xl12">
                        <label>Zakupy</label>
                        <p  type="text"><%=element.shopping%></p>
                    </div>
                </div>
                <div class="button-styling-large">
                    <button type="submit" style="display: none;" class="btn button-styling-large  submit">Akutalizuj</button>
                </div>
            </div>
       </div>
       
    <%});%>
</div>

<div class=" form-styling-the-smallest modal" id="create-new-visit">
    <form class="modal-content content-form-styling " action='/clients/client-view/<%=oneClient.id%>' method="POST">
       <%-include('./edit-create-visit.ejs',{id_extention:1}) %>
    </form>
</div>   
<div class=" form-styling-the-smallest modal" id="edit_visit">
    <form class="modal-content content-form-styling"id="edit_client_visit" action='' method="POST">
       <%-include('./edit-create-visit.ejs',{id_extention:2}) %>

    </form>
</div> 
