
<div id="hideAlert">
    <% if(messages.mess){ %>
        <div class="alert alert-<%=messages.type%>"><%= messages.mess%></div>
    <% } %>
</div>
<div onclick="window.location='/clients/clientView/<%=clientInfo.id%>/edit'">
    <% if(clientInfo.visitDate != null) {%> 
        <p>Pierwsza wizyta :<%=clientInfo.visitDate == null ? '' :clientInfo.visitDate.toISOString().split('T')[0] %></p>
    <% } %> 
    <% if(clientInfo.nextVisitDate != null) {%> 
        <p>Natępna wizyta :<%=clientInfo.nextVisitDate == null ? '' :clientInfo.nextVisitDate.toISOString().split('T')[0] %></p>
    <% } %> 
    <% if(clientInfo.dateOfBirth != null) {%> 
        <p>Urodziny: <%=clientInfo.dateOfBirth == null ? '' :clientInfo.dateOfBirth.toISOString().split('T')[0] %></p>
    <% } %> 
    <p>Imie  <%=clientInfo.name%> Nazwisko  <%=clientInfo.lastName%></p>
    <p>Numer Telefonu: <%=clientInfo.phoneNumber%></p>
    <p>Diagnoza</p>
    <%Object.keys(clientInfo.skinDiagnoseAll).forEach(element=>{%>
        <% if(clientInfo.skinDiagnoseAll[element].value == true && element !='$init'){ %> 
            <ul>
                <li> <%=clientInfo.skinDiagnoseAll[element].name %></li>
            </ul>
        <% } %> 
    <%})%>
    <p>inne: <%=clientInfo.skinDiagnoseAll.other %> </p>
    <% if(clientInfo.washingFace != '') {%> 
        <p>Czym myta twarz:  <%=clientInfo.washingFace  %> </p>
    <% } %> 
    <% if(clientInfo.faceTension != '') {%> 
        <p>Czy występuje napięcie twarzy:  <%=clientInfo.faceTension  %> </p>
    <% } %> 
    <% if(clientInfo.currentFaceCreams != '') {%> 
        <p>Obecnie używane kremy:  <%=clientInfo.currentFaceCreams  %> </p>
    <% } %>
    <% if(clientInfo.shopping != '') {%>  
        <p>Zakupy:  <%=clientInfo.shopping  %> </p>
    <% } %>
    <% if(clientInfo.diagnose1 != '') {%>  
        <p>Wstępna diagnoza:  <%=clientInfo.diagnose1  %> </p>
    <% } %>
    <% if(clientInfo.teraphyPlan != '') {%>  
        <p>Plan zabiegów:  <%=clientInfo.teraphyPlan  %> </p>
    <% } %>
    <% if(clientInfo.recommendedCare != '') {%>  
        <p>Zalecana pilęgnacja:  <%=clientInfo.recommendedCare  %> </p>
    <% } %>
</div>

<br>
<% if(addedVisist != ''){ %> 
    <h1>Wizyty  </h1>
<%}%>

<%addedVisist.forEach(element => { %> 
    <!-- -->
    <div  onclick="window.location='/clients/clientView/<%=element.id%>/editPost'" onclick="showFormm()">
        <p><%= element.clientVisitDate==null ? '':element.clientVisitDate.toISOString().split('T')[0] %> </p>
        <p><%= element.comment %> </p>
        <p><%= element.treatment.treatmentName %> </p>
        <p><%= element.treatment.treatmentPrice %> </p>
        <%- include(`../partials/deleteForm.ejs`, {url: `/clients/clientView/${element.id}`})%> 
    </div>

 
<%});%> 
    

<form action='/clients/clientView/<%=clientInfo.id%>' method="POST">
    <!--Section for adding coments-->
    <%- include('./_form_fields_CreatePost.ejs') %> 
    <button type="submit">Dodaj</button>
</form>



