<label class="separate">
    <input type="checkbox"  name="straightHair"  class="disabled" <%=oneClient.hairTypeAndTexture.straightHair==true? 'checked="checked" ' :''%> disabled="disabled" >
  <span>Włosy proste</span>
</label>
<label class="separate">
    <input type="checkbox"  name="curlyHair" class="disabled" <%=oneClient.hairTypeAndTexture.curlyHair==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Włosy kręcone</span>
</label>
<label class="separate">
    <input type="checkbox"  name="wavyHair" class="disabled" <%=oneClient.hairTypeAndTexture.wavyHair==true? 'checked="checked" ' :''%> disabled="disabled" >
  <span>Włosy falujące</span>
</label>
<label class="separate">
    <input type="checkbox"  name="woollyHair" class="disabled" <%=oneClient.hairTypeAndTexture.woollyHair==true? 'checked="checked" ' :''%> disabled="disabled" >
  <span>Włosy kędzierzawe</span>
</label>
<label class="separate">
    <input type="checkbox"  name="fineHair"  class="disabled" <%=oneClient.hairTypeAndTexture.fineHair==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Włosy cienkie i delikatne </span>
</label>
<label class="separate">
    <input type="checkbox"  name="proneHair" class="disabled" <%=oneClient.hairTypeAndTexture.proneHair==true? 'checked="checked" ' :''%> disabled="disabled" >
  <span>Włosy podatne, łatwe w ułóżeniu </span>
</label>
<label class="separate">
    <input type="checkbox"  name="thickHair" class="disabled" <%=oneClient.hairTypeAndTexture.thickHair==true? 'checked="checked" ' :''%> disabled="disabled" >
  <span>Włosy grube i sztywne</span>
</label>

<label class="separate">
    <input type="checkbox"  name="glassyHair" class="disabled" <%=oneClient.hairTypeAndTexture.glassyHair==true? 'checked="checked" ' :''%> disabled="disabled" >
  <span>Włosy szkliste</span>
</label >
