<label class="separate">
    <input type="checkbox"  name="dryHair"  class="disabled" <%=oneClient.hairCondition.dryHair==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Włosy suche</span>
</label>
<label class="separate">
    <input type="checkbox"  name="oilyHair"  class="disabled" <%=oneClient.hairCondition.oilyHair==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Włosy przetłuszczające się z powodu nadczynnośći łojotokowej </span>
</label>
<label class="separate">
    <input type="checkbox"  name="normalHair"  class="disabled" <%=oneClient.hairCondition.normalHair==true? 'checked="checked" ' :''%> disabled="disabled"  >
  <span>Włosy normalne</span>
</label>
<label class="separate">
    <input type="checkbox"  name="healthyHair"  class="disabled" <%=oneClient.hairCondition.healthyHair==true? 'checked="checked" ' :''%> disabled="disabled" >
  <span>Włosy lśniąće, zdrowe, gładkie, spręzyste, gęste</span>
</label>
<label class="separate">
    <input type="checkbox"  name="overlyGlowingHair"  class="disabled" <%=oneClient.hairCondition.overlyGlowingHair==true? 'checked="checked" ' :''%> disabled="disabled" >
  <span>Włosy nadmiernie świecące, tracą sztbko świeży wygląd </span>
</label>
<label class="separate">
    <input type="checkbox"  name="dullHair"  class="disabled" <%=oneClient.hairCondition.dullHair==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Włosy porowate, matowe, nieelastyczne, osłabione </span>
</label>
<label class="separate">
    <input type="checkbox"  name="tangleHair"   class="disabled" <%=oneClient.hairCondition.tangleHair==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Włosy plączące się, końce włosów są zniszczone, łamliwe i kruche</span>
</label>