<label class="separate">
    <input type="checkbox"  name="scalyScalp"  class="disabled" <%=oneClient.scalpCondition.scalyScalp==true? 'checked="checked" ' :''%> disabled="disabled" >
  <span>Skóra głowy sucha - łuszczy się</span>
</label>
<label class="separate">
    <input type="checkbox"  name="normalScalp"  class="disabled" <%=oneClient.scalpCondition.normalScalp==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Skóra głowy normalna - bez problemów skórnych</span>
</label>
<label class="separate">
    <input type="checkbox"  name="oilyScalp"    class="disabled"<%=oneClient.scalpCondition.oilyScalp==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Skóra głowy tłusta - wydzielina gruczołów łojowych natłuszcza powierzchnę skóry i włosy</span>
</label>

<label class="separate">
    <input type="checkbox"  name="dandruff"    class="disabled"<%=oneClient.scalpCondition.dandruff==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Skóra głowy z łupieżem - włosy pokryte są biało-żółtymi płatkami</span>
</label>
<label class="separate">
    <input type="checkbox"  name="psoriasis"    class="disabled" <%=oneClient.scalpCondition.psoriasis==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Ośrodki łuszczycy widoczne na skórze </span>
</label>
<label class="separate">
    <input type="checkbox"  name="alopecia"   class="disabled" <%=oneClient.scalpCondition.alopecia==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Ośrodki łysienia plackowatego</span>
</label>
<label class="separate">
    <input type="checkbox"  name="parasites"   class="disabled" <%=oneClient.scalpCondition.parasites==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Obecność pasożytó</span>
</label>
<label class="separate">
    <input type="checkbox"  name="reddedScalp"  class="disabled" <%=oneClient.scalpCondition.reddedScalp==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Skóra głowy zaczerwieniona</span>
</label >
<label class="separate">
  <input type="checkbox"  name="scratchedWounds"  class="disabled" <%=oneClient.scalpCondition.scratchedWounds==true? 'checked="checked" ' :''%> disabled="disabled">
<span>Rany draoabe na skórze gowy</span>
</label >
<label class="separate">
<input type="checkbox"  name="scarsOnTheScalp"  class="disabled" <%=oneClient.scalpCondition.scarsOnTheScalp==true? 'checked="checked" ' :''%> disabled="disabled">
<span>Blizny na skórze głowy</span>
</label >