<h2>All clients</h2>
<%- include('../partials/infoMessages.ejs') %> 
<form method="GET" id="myform">
    <label>Name</label>
    <input type="text" name="name" value="<%=searchOptions.name%>" placeholder="Szukaj Klienta">
</form>
<a href="/clients/new">Dodaj klienta</a>
<br>
<form method="POST" action="/clients?_method=DELETE">
    <input type="submit" value="Usuń">
    <table>
        <thead>
            <tr>
                <th>Imie</th>
                <th>Numer telefonu</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% clients.forEach(client => {%> 
                    <tr>
                        <td onclick="window.location='/clients/client-view/<%=client.id%>'"><%=client.name%> <%=client.lastName%></td>
                        <td onclick="window.location='/clients/client-view/<%=client.id%>'"><%=client.phoneNumber%></td>
                        <td><input type="checkbox" name="chackboxDelet" value="<%=client.id%>"></td>
                    </tr>
            <% }); %> 
        </tbody>
    </table>
</form>
