<h2>All clients</h2>

<form method="GET" id="myform">
    <label>Name</label>
    <input type="text" name="name" value="<%=searchOptions.name%>" placeholder="Szukaj Klienta">
</form>
<a href="/clients/new">Dodaj klienta</a>
<br>
<table>
    <thead>
        <tr>
            <th>Imie</th>
            <th>Numer telefonu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% clients.forEach(client => {%> 
        <% if(client.user == user ){ %> 
            <tr onclick="window.location='/clients/clientView/<%=client.id%>'">
                <td><%=client.name%> <%=client.lastName%></td>
                <td><%=client.phoneNumber%></td>
                <td> <%- include(`../partials/deleteForm.ejs`, {url: `clients/${client.id}`})%> 
                </td>
            </tr>
        <% } %> 
    <% }); %> 
    </tbody>
</table>



