
<%-include('../partials/shopping-list.ejs')%>
<!--Search bar-->
<div class="row main-row z-depth-1">
    <form class="form-search-create-visit col s12"   method="GET">
        <div class="input-field col s12 m6 l4 xl5">
            <input class="myInputSearch" name="name" type="text" id="client-search"  autocomplete="off" list="clientOptions-1"  />
            <label class="active" for="client-search">Imie</label>
        </div>
        <%-include('../partials/clients-list.ejs', {id_extention:1})%>
        <div class="input-field col s12 m6 l4 xl5">
            <input value="<%=searchOptions.visitBefore%>" class="datepicker"  type="text"  name="visitAfter"   autocomplete="off" />
            <label class="active" for="dataTo">Urodziny</label>
        </div>
        <div class="row button-row">
            <div class="col s12 m1 l2 xl2 center-button-small">
                <button type="submit" class="waves-effect waves-light btn-small  "aria-label="search-by-date"><i class="large material-icons">search</i></button>

            </div>
            <div class="col s12 m1 l2 xl2 center-button-small">
                <button href="#create-client" class="waves-effect waves-light  modal-trigger btn-small  "><i class="large material-icons">person_add</i></button>
            </div> 
        </div>
    </form>
</div>
<div class="form-styling modal" id="create-client">
    <form action="/clients/new" method="POST" class="modal-content content-form-styling" >
        <%- include('new.ejs') %>
    </form>
</div> 
<!--All client section-->
<div class="row information-row">
    <div class="col s12 ">
        <% for(var i = 0 ; i< clients.length ; i++){%>
            <div class="col s12 m12 l4 top-separator ">
                <div class="card max-width-card"  onclick="window.location='/clients/client-view/<%=clients[i].id%>'">
                    <div class="card-header ">
                        <form method="post" action='/clients/<%=clients[i].id%>?_method=DELETE'>
                            <button type="submit" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </form>
                        <p  class="col search-by" data-value="<%=clients[i].name%> <%=clients[i].lastName%>"><%=clients[i].name%> <%=clients[i].lastName%></p>
                    </div>
                    <div class="card-content">
                        <div class="col s12 m6 l12">
                            <label>Telefon</label>
                            <p><%=clients[i].phoneNumber%></p>
                        </div>
                        <div class="col s12 m6 l12">
                            <label>Urodziny</label>
                            <p><%=clients[i].dateOfBirth !=null ?clients[i].dateOfBirth.toISOString().split('T')[0] :'-'%></p>
                        </div>
                    </div>
                </div>
            </div>
        <%} %> 
    </div>  
</div>



