
<%- include('../partials/infoMessages.ejs') %> 
<div class="center-main-div ">
    <div class="main-div toogleList">
        <div class="content  ">
            <div class="visit">
                    <form class="find-visit"  method="GET"  id="myform">

                        <div class="data-input-from ui-widget ">
                            <input type="text" class="myInputSearch" name="name" value="<%=searchOptions.name%>" placeholder="Szukaj Klienta" autocomplete="off" >  
                        </div>
                        <div class="data-input-to">
                            <input placeholder="Od" id="dataFrom" name="visitAfter"   autocomplete="off" value="<%=searchOptions.visitAfter%>" autocomplete="off" />
                        </div>
                        <div class="search">
                            <button type="submit" class="search-button" aria-label="search"><i class="fas fa-search"></i></button>
                        </div>
            </form>
            <div class="add">
                <button   onclick="window.location='/clients/new'"  class="button_action showForm"aria-label="add-client" ><i class="fas fa-user-plus"></i></button>
            </div>    
            </div>
           
        </div>
        <%-include('../partials/toogleListClients.ejs')%>
    </div>
</div>
<div class="main-div-full-content .main-div-toogle">
    <div class="main-div-center ">
        
            <div class="content-div">
                <% for(var i = 0 ; i< clients.length ; i++){%>
                  
                    <div class="visit">
            
                        <form method="post" action='/clients/<%=clients[i].id%>?_method=DELETE'>
                            <button type="submit" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </form>
                        <div class="div-element"   onclick="window.location='/clients/client-view/<%=clients[i].id%>'" >
                            <p class="header" client="<%=clients[i].name%> <%=clients[i].lastName%>">
                                <%=clients[i].name%> <%=clients[i].lastName%></p>
                            <div class="first-p-element">
                                <p class="headerVisit">Telefon</p>
                                <p ><%=clients[i].phoneNumber%></p>
                            </div>
                            <div class="sec-p-element">
                                <p class="headerVisit">Urodziny</p>  
                                <p ><%=clients[i].dateOfBirth !=null ?clients[i].dateOfBirth.toISOString().split('T')[0] :'-'%></p>

                            </div>
                                               
                        </div>
                    </div> 
                   
                   
                <%} %> 
            </div>
    </div>
</div>

<%-include('../partials/shopping-list.ejs')%>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script src="../../public/dataTimePicker.js"></script>
<script src="../../public/toggle_main_page_list.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
 var clientsCreate = []
    $('.list-client li').filter(function(){
        clientsCreate.push({value:$(this).text(),phone:$(this).attr('phone') })
    })

    $(function(){
        $( ".myInputSearch" ).autocomplete({
            source: clientsCreate,
            autoFocus:true
        });
    })
</script>