

<label class="separate">
    <input type="checkbox" class="disabled"  name="drySkin"  <%=oneClient.skinDiagnoseAll.drySkin==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Suchość</span>
</label>
<label class="separate">
    <input type="checkbox" class="disabled"  name="wrinkless"  <%=oneClient.skinDiagnoseAll.wrinkless==true? 'checked="checked"' :''%> disabled="disabled">
  <span>Zmarszczki i drobne linie</span>
</label>
<label class="separate">
    <input type="checkbox" class="disabled"  name="lackfirmnes"  <%=oneClient.skinDiagnoseAll.lackfirmnes==true? 'checked="checked"' :''%> disabled="disabled">
  <span>Brak jędrności</span>
</label>
<label class="separate">
    <input type="checkbox" class="disabled"  name="nonuniformColor"  <%=oneClient.skinDiagnoseAll.nonuniformColor==true? 'checked="checked"' :''%> disabled="disabled" >
  <span>Niejednolity koloryt</span>
</label>
<label class="separate">
    <input type="checkbox" class="disabled"  name="tiredness"  <%=oneClient.skinDiagnoseAll.tiredness==true? 'checked="checked"' :''%> disabled="disabled" >
  <span>Zmęczenie - stres</span>
</label>
<label class="separate">
    <input type="checkbox" class="disabled"  name="acne"  <%=oneClient.skinDiagnoseAll.acne==true? 'checked="checked"' :''%> disabled="disabled" >
  <span>Trądzik grudkowy</span>
</label>
<label class="separate">
    <input type="checkbox" class="disabled"  name="smokerSkin"  <%=oneClient.skinDiagnoseAll.smokerSkin==true? 'checked="checked"' :''%> disabled="disabled">
  <span>Skóra palacza</span>
</label>

<label class="separate">
    <input type="checkbox" class="disabled"  name="fatSkin"  <%=oneClient.skinDiagnoseAll.fatSkin==true? 'checked="checked"' :''%> disabled="disabled" >
  <span>Przetłuszczanie się</span>
</label >
<label class="separate">
    <input type="checkbox" class="disabled"  name="discoloration"  <%=oneClient.skinDiagnoseAll.discoloration==true? 'checked="checked"' :''%> disabled="disabled" >
  <span>Przebarwienia</span>
</label>
<label class="separate"> 
    <input type="checkbox" class="disabled"  name="blackheads"  <%=oneClient.skinDiagnoseAll.blackheads==true? 'checked="checked"' :''%> disabled="disabled">
  <span>Zaskórniki</span>
</label>
<label class="separate">
    <input type="checkbox" class="disabled"  name="darkCirclesEyes"   <%=oneClient.skinDiagnoseAll.darkCirclesEyes==true? 'checked="checked"' :''%> disabled="disabled" >
  <span>Cienie - opuchnięcia pod oczami</span>
</label>
<label class="separate">
    <input type="checkbox" class="disabled"  name="dilatedCapillaries"  <%=oneClient.skinDiagnoseAll.dilatedCapillaries==true? 'checked="checked"' :''%> disabled="disabled">
  <span>Rozszerzone naczynka</span>
</label>
<label class="separate">
    <input type="checkbox" class="disabled"  name="papularPustularAcne"  <%=oneClient.skinDiagnoseAll.papularPustularAcne==true? 'checked="checked"' :''%> disabled="disabled">
  <span>Trądzik grudkowo - kostkowy</span>
</label>
<label class="separate">
    <input type="checkbox" class="disabled"  name="externallyDrySkin"  <%=oneClient.skinDiagnoseAll.externallyDrySkin==true? 'checked="checked"' :''%> disabled="disabled">
  <span>Zewnętrznie przesuszona</span>
</label>
<br>
<div class="input-field col s6 top-separation-1">
  <i class="material-icons prefix">short_text</i>
  <input class="text disabled" name="other" value="<%=oneClient.skinDiagnoseAll.other%>"  type="text" id="other"  autocomplete="off" disabled>
  <label for="other">inne...</label>
</div>


