<div class="input-field col s6">
    <i class="material-icons prefix">local_offer</i>
    <input type="text" id="treatmentName-<%=id_extention%>" class="validate"  name="treatmentName"  required >
    <label  for="treatmentName-<%=id_extention%>">Nazwa</label>
</div>
<div class="input-field col s6">
    <i class="material-icons prefix">label</i>
    <input type="number" id="treatmentPriceEdit-<%=id_extention%>" class="validate"  name="treatmentPrice" required>
    <label  for="treatmentPriceEdit-<%=id_extention%>">Cena</label>
</div>
<div class="input-field col s6">
    <i class="material-icons prefix">attach_money</i>
    <input type="number" id="costs_of_products_per_treatment-<%=id_extention%>" class="validate"  name="costs_of_products_per_treatment" required>
    <label  for="costs_of_products_per_treatment-<%=id_extention%>">Koszty produktów</label>
</div>
<div class="input-field col s6">
    <i class="material-icons prefix">access_time</i>
    <input type="number" id="duration-<%=id_extention%>" class="validate"  name="duration" required>
    <label  for="duration-<%=id_extention%>">Czas</label>
</div>

<div class="input-field col s12">
    <i class="material-icons prefix">mode_edit</i>
    <textarea id="treatmentDescription-<%=id_extention%>" class="materialize-textarea" name="treatmentDescription"></textarea>
    <label for="treatmentDescription-<%=id_extention%>">Opis</label>
</div>
<div class="input-field col s12 chips-icon">
    <i class="material-icons prefix">list</i>
    <div class="chips chips-autocomplete width-chips-input"    >
        <input list="products"  class="chips-input"  >
    </div>
</div>

<datalist id="products">
    <option value="acne x 20ml">
    <option value="hialuron x 30ml">
</datalist>
<input id="chips-input" class="hiden-input"  value="" name="products_needed_to_do_the_treatment" >



<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.chips-autocomplete');
        const input = document.getElementById('chips-input')
        let input_value = []
        var instances = M.Chips.init(elems, {
            autocompleteOptions: {
                limit: Infinity     
            },
            placeholder: 'Pordukty',
            secondaryPlaceholder: ' ',
            onChipAdd: (event, chip) => {
               
                input_value =[];
                event[0].M_Chips.chipsData.forEach(elem=>{
                    input_value.push(elem.tag)
                })
                input.setAttribute('value',input_value)
            },
            onChipDelete:(event, chip)=>{
                input_value =[];
                event[0].M_Chips.chipsData.forEach(elem=>{
                    input_value.push(elem.tag)
                })
                input.setAttribute('value',input_value)
            }
        });
    
  
  });
</script>