<h2>All Treatments</h2>

<form method="GET">
    <label id="treatmentName"></label>
    <input id="treatmentName"name="treatmentName" placeholder="Nazwa zabiegu" value="<%=searchOptions.name  %>" autofocus>
</form>
<a href="/treatment/new">Add Treatment</a>
<table>
    <thead>
        <tr>
            <th >Nazwa</th>
            <th >Cena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>   
        <% treatment.forEach(treatment => {%>
            <tr onclick="window.location='/treatment/<%=treatment.id%>/edit'">
                <td><%=treatment.treatmentName%></td>
                <td><%=treatment.treatmentPrice%></td>
                <td><%- include(`../partials/deleteForm.ejs`, {url: `treatment/${treatment.id}`})%></td>
            </tr>
        <% });%>
     
    </tbody>
</table>

