

<%-include('../partials/shopping-list.ejs')%>

<!--Search Bar-->
<div class="row main-row z-depth-1 small-search-bar">
    <form class="col s12" method="GET">
        <div class="input-field col s12 m9 l9 xl9">
            <input class="myInputSearch" type="text" id="searchby-1" list="options-1"  name="treatmentName" value="<%=searchOptions.name  %>" autocomplete="off">
            <label for="searchby-1" class="active">Nazwa Zabiegu</label>
        </div>
        <%-include('../partials/treatments-list.ejs',{id_extention:1}) %>
        <div class="row button-row-flex-all">
            <div class="col s12 m1 l1 center-button-small-flex-all"> 
                <button type="submit" class="waves-effect waves-light search-button btn-small  "aria-label="search-by-date"><i class="large material-icons">search</i></button>

            </div>
            <div class="col s12 m1 l1  center-button-small-flex-all">
                <button href="#create-treatment" class="waves-effect waves-light modal-trigger btn-small  " ><i class="large material-icons">add</i></button>
            </div> 
        </div>
    </form>
</div>

<div class="main-div-full-content row information-row">
    <div class="col s12">
        <% for(var i = 0 ; i< treatments.length ; i++){%>
            <div class="col s12 m12 l4 top-separator">
                <div class="card max-width-card">
                    <div class="card-header ">
                        <form method="post" action='/treatment/<%=treatments[i]._id%>?_method=DELETE'>
                            <button type="submit" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </form>  
                        <p  class="col search-by" data-value="<%=treatments[i].treatmentName%>"><%=treatments[i].treatmentName.length <= 15 ? treatments[i].treatmentName:treatments[i].treatmentName.slice(0,15)+'...'%></p>
                    </div>
                    <!---->
                    <div class="card-body" onclick="window.location='/treatment/<%=treatments[i]._id%>'" >
                        <div class="col s12 m6 l12">
                            <label>Cena</label>
                            <p ><%=treatments[i].treatmentPrice != null ? treatments[i].treatmentPrice +'zł' : ''%></p>
                        </div>
                        <div class="col s12 m6 l12">
                            <label>Czas trwania</label>
                            <p ><%=treatments[i].duration != null ? treatments[i].duration +'min' : '-'%></p>
                        </div>    
                        <div class="col s12 m6 l12">
                            <label>Opis</label>
                            <%if(treatments[i].treatmentDescription !=null){%>
                                <p ><%=treatments[i].treatmentDescription.length <= 20 ? treatments[i].treatmentDescription :treatments[i].treatmentDescription.slice(0,20)+'...' %></p>
                            <%}else{%>
                                <p>-</p>
                            <%}%>
                        </div>               
                        
                    </div>
                </div>
            </div>   
        <%} %> 
    </div>
</div>

<div class="form-styling modal" id="create-treatment">
    <form method="POST" action="/treatment" class="modal-content content-styling">
        <%-include('./create-edit-treatment.ejs', {id_extention:2})%>
        <div class="center-button">
            <button class="btn waves-effect submit-button" type="submit" aria-label="create-visit-form">Dodaj</button>
        </div> 
     
    </form>
</div>


