<%-include('./product-list.ejs')%>

<div class="row top-separation-3">
    <div class="col s12 m12 l12 xl12 vertical-align">
        <div class="switch col s12 m12 l3 xl3">
            <label>
                Off
                <input type="checkbox" id="getvalue" onchange="edit_treatment(`<%=treatment.products_needed_to_do_the_treatment%>`)">
                <span class="lever" id="getlever"></span>
                On
            </label>
        </div>
    </div>
</div>   
<div class="col s12 m12 l12 xl12">
    <form method="post" class="top-separation-3 " action="/treatment/edit/<%=treatment._id%>?_method=PUT">
        <div class="row header ">
            <div class=" header-content flex-content  ">
                <div class="treatmentName add-input-field">
                    <label treatmentName="price" style="display:none">Nazwa</label>
                    <p class="pTag separate-right" name="treatmentName" id="treatmentName"><%=treatment.treatmentName%> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="add-input-field col s12 m6 l4 xl4">
                    <label for="price">Cena</label>
                    <p class="pTag dateTag " id="price" name="treatmentPrice" type="text"><%=treatment.treatmentPrice == null ? '-' :treatment.treatmentPrice %></p>
                 
                </div>
                <div class="add-input-field col s12 m6 l4 xl4">
                    <label for="costs">Koszty</label>
                    <p class="pTag dateTag " id="costs" name="costs_of_products_per_treatment" type="text"><%=treatment.costs_of_products_per_treatment == null ? '-' :treatment.costs_of_products_per_treatment %></p>
                </div>
                <div class="add-input-field col s12 m6 l4 xl4">
                    <label for="duration">Czas Trwania(min)</label>
                    <p class="pTag dateTag " id="duration" name="duration" type="text"><%=treatment.duration == null ? '-' :treatment.duration %></p>
                </div>
              
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12 m12 l12 xl12">
                    <textarea name="treatmentDescription" readonly class="materialize-textarea textarea" type="text"><%=treatment.treatmentDescription == null ? '-' :treatment.treatmentDescription %></textarea>
                    <label>Opis</label>
                </div>
                <div class="input-field col s12 add-auto-chips ">
                    <label class="active" >Produkty potrzebne do zabiegu</label>
                   
                    <%if(splited != ['']){%>
                        <%for(let i =0; i < splited.length; i++){%>
                            <div class="chip chips-padding add-chips-input" >
                                <%=splited[i]%>
                            </div>
                       <% }%>
                    <%}%>
                  
                   <div class="chips  init" style="display: none">
                    <input list="products" id="search" autocomplete="off">
                   </div>
                </div>
            </div>
        </div>
        <input id="chips-input" class="hiden-input"  value="" name="productsForTreatment" >

        <div class="button-styling-large center-button">
            <button type="submit" style="display: none;" class="btn button-styling-large  submit">Akutalizuj</button>
        </div>
    </form>

            
</div>

