<form method="POST" action="/shopping-list/list-view/<%=list.id%>/edit?_method=PUT">
    <h1><%=list.listName.name%></h1>
    <input type="date" name="transactionDate" value="<%=list.transactionDate==null ? '' : list.transactionDate.toISOString().split('T')[0]%>" >
    <br><div style="display: flex;">
        <div style="padding:10px">
        <% list.productName.forEach(element => { %>
            <div style="margin:10px 2px">
                <input type="text" placeholder="nazwa produktu" name="productName" value="<%=element%>" >
            </div>
           
        <% }); %> 
        </div>
        <div  style="padding:10px" >
        <% list.price.forEach(element => { %>
            <div style="margin:10px 2px">
                <input type="number" placeholder="cena"  name="price"  value="<%=element%>" >
            </div>
        <% }); %> 
    </div>
    </div>

     <br>
    <a href="/shopping-list/list-view/<%=list.id%>">Anuluj</a>
    <button type="submit">Dodaj</button>
</form>