<form method="POST" action="/shoppingList/listView/<%=list.id%>/edit?_method=PUT">
    <input type="text" placeholder="nazwa listy" name="listName" value="<%=list.listName%>" >
    <input type="date" name="transactionDate" value="<%=list.transactionDate==null ? '' : list.transactionDate.toISOString().split('T')[0]%>" >
    <% list.productName.forEach(element => { %>
        <input type="text" placeholder="nazwa produktu" name="productName" value="<%=element%>" >
       
    <% }); %> 
    <% list.price.forEach(element => { %>
        <input type="text" placeholder="cena"  name="price"  value="<%=element%> " >
    <% }); %> 
   
    
     <br>
    <a href="/shoppingList/listView/<%=list.id%>">Anuluj</a>
    <button type="submit">Dodaj</button>
</form>