 <%- include('../partials/infoMessages.ejs') %> 

 <div class="center-main-div">
    <div class="main-div">
        <div class="content">
            <div class="visit">
                <form class="find-visit"  action="/shopping-list" method="GET">
                    <div class="data-input-from ui-widget ">
                        <input type="text" class="myInputSearch brand-search" name="name"  placeholder="Szukaj Listy" autocomplete="off" >  
                    </div>
                    <div class="data-input-to">
                        <input placeholder="Od" id="dataFrom" name="visitAfter" value="<%=searchOptions.visitAfter%>"  autocomplete="off"   />
                    </div>
                    <div class="search-button">
                        <button type="submit" aria-label="search-by-date"><i class="fas fa-search"></i></button>

                    </div>
                </form>

              <div class="flex-end">
                <button class="separate create"aria-label="open-create-new-list"><i class="fas fa-plus"></i></button><!--create list-->
                <button class="separate create-brand" aria-label="open-create-brand-name"><i class="fas fa-building"></i></button><!--add new company or assign-->
                <button class="separate-last delete"aria-label="open-delete-brand-name"><i class="far fa-trash-alt"></i></button><!--delete company-->
              </div>
           
            </div>
        </div>
        <%-include('../partials/toggleListBrandNames.ejs')%>  
    </div>
 </div>

 <div class="create-visit-form create-brand-form close-form ">
    <form method="POST" action="/shopping-list/brand-name" class="center-form">
        <div class="form">
            <span id ="close"class="close" >&times;</span>
            <div class="form-content">
                <input id ="input"type="text" name="name" placeholder="Dodaj nazwe firmy" value="<%=brandName.name%>" required autofocus >
                <button type="submit"aria-label="create-brand-name">Dodaj</button>
               </div>
   
        </div>
    </form>
</div>

<!--Delete Hidden Form-->
<div class=" create-visit-form hide-delete close-form" >
    <form action="/shopping-list/brand-name-delete?_method=DELETE" method="post" class="center-form" >
        
        <div class="button">
            <button type="submit"aria-label="delete-company"><i class="far fa-trash-alt"></i></button><!--delete company-->
        </div>
   
        <div  class="form">
            
            <span id ="close"class="close" >&times;</span>
            <div class="scroll">
                <div class="form-content">
                    <ul >
                        <% brandName.forEach((brand,index) => { %>
                            <div class="flex"  brand-id="<%=brand.id%>">
                                <li value="<%=brand.id%>" ><%=brand.name%></li>
                                <div class="checkbox" >
                                    
                                    <input type="checkbox" id="checkbox-delete-<%=index%>"name="chackboxDeleteBrand" value="<%=brand.id%>" >
                                    <label for="checkbox-delete-<%=index%>"></label>
                                
                                </div>
                                
                            </div>
                        
                        <%}); %>
                    </ul>
                </div>
            </div>    
        </div>
    </form>
</div>
<!--Create List Hidden Form-->
<div class="create-visit-form hidden-create-list hidden-create create-form close-form">
    <form method="POST" action="/shopping-list" class="center-form ">
        <div class="form">
            <span id ="close"class="close" >&times;</span>
            <div class="form-content">
                <div class="data-input-from ui-widget ">
                    <input  class="my-input-new-list-name create-brand"type="text" name="brand" placeholder="Podaj nazwe listy" value="<%=brandName.name%>"required autofocus autocomplete="off" >
                </div>
                <input placeholder="Od" id="datapickerAdd" name="transactionDate"  autocomplete="off" required  />
                <button type="submit" aria-label="create-new-list">Dodaj</button>
            </div>
   
        </div>
    </form>
</div>
<div class="main-div-full-content">
    <div class="main-div-center  ">
        <div class="content-div">
            <% for(var i = 0 ; i< shopping.length ; i++){%>
                <div class="visit">
                    <form method="post" action='/shopping-list/<%=shopping[i]._id%>?_method=DELETE'>
                        <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>  
                    <div class="div-element" onclick="window.location='/shopping-list/list-view/<%=shopping[i].id%>'"  >

                        <p  class="header"><%=shopping[i].listName  %> </p> 
                        <div class="first-p-element">
                            <p class="headerVisit">Kwota</p>
                            <p ><%=shopping[i].totalPrice== null?'-':shopping[i].totalPrice+'zł' %></p>
                        </div>
                        <div class="sec-p-element">
                            <p class="headerVisit">Transakcja</p>
                            <p><%= shopping[i].transactionDate == null ? '-' : weekdays[shopping[i].transactionDate.getDay()]+' '+shopping[i].transactionDate.toISOString().split('T')[0] %></p> 

                        </div>
                       

                                         
                    </div>
                </div>   
            <%} %> 
        </div>
      
    </div>

  
</div>
<div  class="statistics"></div>
<%-include('../partials/shopping-list.ejs')%>





<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script src="../../public/dataTimePicker.js"></script>
<script src="../../public/toggle_main_page_list.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

</script>