
<button href="#" id ="showForm" onclick="showFormm()">Dodaj firme</button>
<form method="POST" action="/shoppingList">
    <select name="brandName">
        <% brandName.forEach(brand => { %>
           
            <% if(brand.id === shopping.listName){ %>
                <option selected label="<%=brand.name%>" value="<%=brand.id%>"><%=brand.name%></option>
            <% }else{ %>
                <option  label="<%=brand.name%>" value="<%=brand.id%>"><%=brand.name%></option>
            <% } %>
        <%}); %>
        </select>
        <button type="submit">Dodaj</button>
</form>
<table>
    <thead>
        <tr>
            <td>Nazwa Listy</td>
            <td>Cena</td>
            <td>Data</td>
        </tr>
    </thead>
    <tbody>
        
        <% shopping.forEach(items => {%>
            <tr onclick="window.location='/shoppingList/listView/<%=items.id%>'">
                <td><%=items.listName.name  == null? '':items.listName.name %></td>
                <td><%=items.totalPrice %></td>
                <td><%= items.transactionDate == null ? '' : items.transactionDate.toISOString().split('T')[0] %> </td>
                <td><%-include(`../partials/deleteForm.ejs`, {url: `shoppingList/${items.id}`})%></td>
            </tr>
       <% }); %> 
    </tbody>
</table>
<form method="POST" action="/shoppingList/brandName" >
    <div style="display: none;" id ="comapnyForm" >
        <span id ="close"class="close" onclick="closeForm()">&times;</span>
        <input id ="companyInput"type="text" name="name" placeholder="Dodaj nazwe firmy" value="<%=brandName.name%>" required>
        <button type="submit">Dodaj</button>
    </div>
</form>
