
<%-include('../partials/infoMessages.ejs')%>

<div class="center-element">
    <div class="element">
        <div class="go-back">
            <a href="/shopping-list"><i class="fas fa-arrow-left"></i></a>
        </div>
        
            <div class="list-header">
                <p name="listName" > <%=list.listNameNew !=undefined ? list.listNameNew :list.listName.name%></p>
                <% if(list.transactionDate!= null){ %> 
                    <p name="transactionDate"> <%=list.transactionDate.toISOString().split('T')[0] %> </p>
                <% } %> 
            </div>
      
            
            <form method="post" action="/shopping-list/list-view/<%=list.id%>?_method=DELETE">
                <button type="submit" ><i class="far fa-trash-alt"></i></button>       
                <div class="list-content"   >
                    
                        <div class="element-font-size"onclick="window.location='/shopping-list/list-view/<%=list.id%>/edit'" >
                    
                            <% list.productName.forEach(element => { %>
                                <p><%= element %></p>
                            <% }); %> 
                        </div>
                        <div class="element-font-size"  >
                            <% list.price.forEach((element, index) => { %>
                                <div class="flex">
                                    <p onclick="window.location='/shopping-list/list-view/<%=list.id%>/edit'"> <%= element %>zł </p> 
                                    <input class="checkbox" onclick="window.location='#'" type="checkbox" name="chackboxDelete" value="<%=index%>"> 
     
                                </div>
                                    
                            <% }); %> 
                        </div>
                </div>
            </form>
          
            <div class="total-price">
                <%if(list.totalPrice != 0) {%> 
                    <p >Do zapłaty: <%=list.totalPrice == null ? '0zł':list.totalPrice+'zł'%></p>
                <% } %>
            </div>
           
            <form method="POST" action="/shopping-list/list-view/<%=list.id%>?_method=PUT">
                <div class="list-form">
                    <%- include('./_form_fields_new') %> 
                </div>

                <button style="display: none;" type="submit">Dodaj</button>
               
            </form>
     
    </div>
  
    
    
</div>

