<div class="row top-separation-3">
    <div class="col s12 m12 l12 xl12 vertical-align">
        <div class="switch col s12 m12 l3 xl3">
            <label>
                Off
                <input type="checkbox" id="getvalue" onchange="edit_list()">
                <span class="lever" id="getlever"></span>
                On
            </label>
        </div>
        <div class="side-by-side col s12 m12 l9 xl9">
            <button aria-label ="go-to-oneClient-visits " class="small-button-styling  btn-small btn modal-trigger" href="#create-new-list-item">
                <i class="material-icons">playlist_add</i></button>   
        </div>
    </div>
</div> 

<div class="col s12 m12 l12 xl12">
    <form method="post" class="top-separation-3 " action="/shopping-list/list-view/edit-list-info/<%=list._id%>?_method=PUT">
        <div class="row header  header-content-samll ">
            <div class="add-input-field  treatmentName col s12 m6 l4 xl4">
                <label for="list_name">Nazwa Listy</label>
                <p class="pTag" id="list_name" name="listName" type="text"><%=list.listName%></p>
            </div>
            <div class="add-input-field  treatmentName col s12 m6 l4 xl4">
                <label for="brand_name">Nazwa Firmy</label>
                <p class="pTag" id="brand_name" name="brandName" type="text"><%=list.brandName%></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="add-input-field col s12 m6 l4 xl4">
                    <label for="price">Cena</label>
                    <p id="price" type="text"><%=list.totalPrice%></p>
                </div>
                <div class="add-input-field col s12 m6 l4 xl4">
                    <label for="transactionDate">Data</label>
                    <p class="pTag dateTag" id="transactionDate" name="transactionDate" type="text"><%=list.transactionDate != '' ? list.transactionDate.toISOString().split('T')[0]: '' %></p>
                </div>
                <div class="add-input-field col s12 m6 l4 xl4">
                    <label for="capacity">Ilość</label>
                    <p  id="capacity" type="text"><%=list.productListInfo.length %></p>
                </div>
            </div>
        </div>
        <div class="button-styling-large">
            <button type="submit" style="display: none;" class="btn button-styling-large  submit">Akutalizuj</button>
        </div>
    </form>
</div>

<div class="row information-row separate-80" >
    <div class="col s12 ">
        <%list.productListInfo.forEach((item, index) => {%>
            <div class="col s12 m12 l6 top-separator  top-separator-2 width-50">
                <div class="border-bottom">
                    <form method="post" action="/shopping-list/list-view/<%=list.id%>/<%=item.name%>+<%=item.price%>+<%=item.amount%>?_method=DELETE">
                        <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                    <div class="row modal-trigger" href="#edit-list-item" onclick="edit_list_item('<%=list.id%>','<%=index%>')">
                        <div class="col s12 padding">
                         
                        <div class="col s12 m6 l6">
                            <label>Produkt</label>
                            <p class="search-by" data-value="<%=item.name%>"> <%=item.name%></p>
                        </div>
                        <div class="col s12 m6 l4">
                            <label>Cena</label>
                            <p> <%=item.price%></p>
                        </div>
                        <div class="col s12 m6 l4">
                            <label>Ilość</label>
                            <p> <%=item.amount%></p>
                        </div>
                      
                        </div>
                    </div>
                </div>
            </div>
        <%})%>
        
    </div>
</div>

<div id="create-new-list-item" class="modal form-styling-the-smallest">
    <form class="modal-content content-form-styling " action="/shopping-list/list-view/add-post/<%=list.id%>?_method=PUT" method="POST">
        <div class="input-field col s12 chips-icon">
            <i class="material-icons prefix">list</i>
            <div  class="chips chips-autocomplete width-chips-input"    >
                <input class="chips-input"  list="options-2" id="searchby-2" autocomplete="off" >
            </div>
        </div>
        <datalist id="searchTemplate1-2" >
            <%listProducts.forEach(product=>{%>
                <option value='<%=product.name%>'>
            <%})%>
        </datalist>
        <datalist  id="options-2"></datalist>
        <input id="chips-input-list-product" class="hiden-input"  value="" name="shoppingItem" >
        <div class="center-button button-padding">
            <button type="submit" class="btn  submit submit-button ">Dodaj</button>
        </div>
    </form>
</div>

<div id="edit-list-item" class="modal form-styling-smaller">
    <form method="POST" id="edit-item"class="modal-content content-form-styling "  action="">
        <div class="input-field col s6">
            <i class="material-icons prefix">filter_list</i>
            <input  class="validate" type="text" list="options-1" name ="itemName" id="searchby-1"  autocomplete="off" required>
            <label for="searchby-1">Nazwa Zabiegu</label>
        </div>
        <datalist id="searchTemplate1-1" >
            <%listProducts.forEach(product=>{%>
                <option value='<%=product.name%>'>
            <%})%>
        </datalist>
        <datalist  id="options-1"></datalist>

        <div class="input-field col s6">
            <i class="material-icons prefix">filter_list</i>
            <input  class="validate" type="number"  name ="itemPrice" id="itemPrice"  autocomplete="off" required>
            <label for="itemPrice">Cena</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">filter_list</i>
            <input  class="validate" type="number" name ="itemAmount" id="itemAmount"  autocomplete="off" required>
            <label for="itemAmount">Ilość</label>
        </div>
        <div class="center-button button-padding">
            <button type="submit" class="btn  submit submit-button ">Dodaj</button>
        </div>
    </form>
</div>
