
<%-include('../partials/infoMessages.ejs')%>


<h1 name="listName" > <%=list.listName.name == '' ? 'Nazwa' :list.listName.name %></h1>
<% if(list.transactionDate!= null){ %> 
    <h4 name="transactionDate" value="<%=list.transactionDate%>">Data zamówienia: <%=list.transactionDate == null ? '' : list.transactionDate.toISOString().split('T')[0] %> </h4>
<% } %> 

<form method="post" action="/shoppingList/listView/<%=list.id%>?_method=DELETE">
    <input type="submit" value="Usuń">

    <div style="display:flex;"  >
        <div style="padding:10px;" onclick="window.location='/shoppingList/listView/<%=list.id%>/edit'">
            <%if(list.productName != '' || list.price != '') {%> 
                <p>Nazwa</p>
            <% } %> 
            <% list.productName.forEach(element => { %>
                <p><%= element %>     </p>
            <% }); %> 
        </div>
        <div style="padding:10px;" onclick="window.location='/shoppingList/listView/<%=list.id%>/edit'">
            <%if(list.price != '' || list.productName != '') {%> 
                <p>Cena</p>
            <% } %>
           
            <% list.price.forEach(element => { %>
                        <p > <%= element %> </p>       
            <% }); %> 
        </div>
        <div style="margin:50px 10px 0 10px">
            <% list.price.forEach((element, index) => { %>
                <div style="padding:6.5px 0;">
                    <input type="checkbox" name="chackboxDelete" value="<%=index%>">
                </div>
        <% }); %> 
        </div>
     
    </div>
</form>


<%if(list.totalPrice != 0) {%> 
    <p style="padding:0 10px 10px 10px;">Do zapłaty: <%=list.totalPrice%></p>
<% } %>
<form method="POST" action="/shoppingList/listView/<%=list.id%>?_method=PUT">
    <%- include('./_form_fields_new') %> 
   
    <button style="display: none;" type="submit">Dodaj</button>
    <a href="/shoppingList">Zakończ</a>
</form>