<%-include('../partials/clients-list.ejs', {id_extention:1})%>
<%-include('../partials/shopping-list-extended.ejs')%>
<div class="row main-row z-depth-1">
    <form class=" col s12"  action="/statistics" method="GET">
        <div class="input-field col s12 m12 l4 xl4">
            <input class="myInputSearch" name="name" type="text" id="client-search"  autocomplete="off" list="clientOptions-1"  />
            <label class="active" for="client-search">Klient</label>
        </div>
        <div class="input-field col s12 m6 l3 xl3">
            <input class="datepicker" id="dateFrom" name="dateFrom" type="text"  autocomplete="off" value="<%=searchOptions.dateFrom%>"  />
            <label class="active" for="dataFrom">Od</label>
        </div>
        <div class="input-field col s12 m6 l3 xl3">
            <input class="datepicker" id="dateTo" name="dateTo" type="text"  autocomplete="off" value="<%=searchOptions.dateTo%>"  />
            <label class="active" for="dataFrom">Do</label>
        </div>
        <div class="row button-row">
            <div class="col s12 m1 l2 xl2 center-button-small">
                <button type="submit" class="waves-effect waves-light btn-small  "aria-label="search-by-date"><i class="large material-icons">search</i></button>

            </div>
        </div>
    </form>
</div>
<div class="row information-row">
    <div class="col s12 ">
        <% for(var i = 0 ; i< clients.length ; i++){%>
            <div class="col s12 m12 l4 top-separator  width-50">
                <div class="card max-width-card"  onclick="window.location='/statistics/<%=clients[i].id%>'">
                    <div class="card-content">
                        <div class="col s12 m6 l12">
                            <label>Klient</label>
                            <p class="search-by" data-value="<%=clients[i].name%> <%=clients[i].lastName%>"> <%=clients[i].name%> <%=clients[i].lastName%></p>
                        </div>
                        <div class="col s12 m6 l12">
                            <label>Wydana Kwota</label>
                            <p><%=addedVisist[i].price%>zł</p>
                        </div>
                    </div>
                </div>
            </div>
        <%} %> 
    </div>
</div>
          
