<h1>Statystyki Sprzedaży klientom</h1>
<form method="GET" action="/statistics">
    <input type="text" name="clientName" value="<%=searchOptions.clientName%>" placeholder="Szukaj Klienta">
    <%- include(`../partials/dateSearchForm.ejs`, {searchFrom: `dateFrom`, searchOptionFrom:`${searchOptions.dateFrom}`, 
    searchTo: `dateTo`, searchOptionTo:`${searchOptions.dateTo}`}) %>

    <button type="submit">Szukaj</button>
</form>

<table>
    <thead>
        <tr>
            <th>Imie</th>
            <th>Wydana Kwota</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% clients.forEach(client => {%> 
        <% if(client.user == user ){ %> 
            <tr onclick="window.location='/statistics/<%=client.id%>'" >
                <% sum=0 %> 
                <%addedVisist.forEach(element => { %> 
                    <%element.treatment == null ?'' :client.id == element.client ?sum +=element.treatment.treatmentPrice:0 %>
                <%});%> 
                <td><%=client.name %> <%=client.lastName%></td>
                <td><%=sum %></td>
            </tr>
        <% } %> 
    <% }); %> 
    </tbody>
</table>