<h1>Statystyki Zabiegów</h1>
<form method="GET" action="/statistics/treatment">
    <input type="text" name="treatment" value="<%=searchOptions.treatment%>" placeholder="Szukaj Zabiegu">
    <%- include(`../partials/dateSearchForm.ejs`, {searchFrom: `dateFrom`, searchOptionFrom:`${searchOptions.dateFrom}`, 
    searchTo: `dateTo`, searchOptionTo:`${searchOptions.dateTo}`}) %>
    <button type="submit">Szukaj</button>
</form>

<table>
    <thead>
        <tr>
            <th>Zabieg</th>
            <th>Ilość Wykonanych</th>
            <th>Kwota</th>
        </tr>
    </thead>
    <tbody>
    <% treatments.forEach( treatment=> {%> 
        <tr>
            <td><%=treatment.treatmentName %> </td>
            <% sum=0 %> 
            <% moneySpent=0 %> 
            <%clientVisits.forEach(element => { %> 
                <%if(element.treatment!= null &&treatment.id == element.treatment.id){%>
                    <% sum++;treatmentExists = true;%> 
                    <% moneySpent+=element.treatment.treatmentPrice %> 
                <% } %> 
            <%});%> 
          
            <td><%=sum%> </td>
            <td><%=moneySpent%> </td>
      
        </tr>    
    <% }); %> 
        
    </tbody>
    <tfoot>
        <tr>
            <td>Kwota Całkowita: <%= totalAmountOfSpent %> </td>
            <td>Zabiegi: <%= totalAmountOfTreatments %> </td>
        </tr>
    </tfoot>
</table>
<p></p>
<p></p>