<%-include('../partials/shopping-list-extended.ejs')%>
<%-include('../partials/treatments-list.ejs',{id_extention:1}) %>

<div class="row main-row z-depth-1">
    <form class=" col s12" action="/statistics/treatment"  method="GET">
        <div class="input-field col s12 m12 l4 xl4">
            <input class="myInputSearch" name="name" type="text"  id="searchby-1"   autocomplete="off" list="options-1"  />
            <label class="active" for="searchby-1">Klient</label>
        </div>
        <div class="input-field col s12 m6 l3 xl3">
            <input class="datepicker"  name="dateFrom"  id="dateFrom" type="text"  value="<%=searchOptions.dateFrom%>"  autocomplete="off" />
            <label class="active" for="dateFrom">Od</label>
        </div>
        <div class="input-field col s12 m6 l3 xl3">
            <input class="datepicker"  name="dateTo" id="dateTo" type="text"  value="<%=searchOptions.dateTo%>"  autocomplete="off"/>
            <label class="active" for="dateTo">Do</label>
        </div>
        <div class="row button-row">
            <div class="col s12 m1 l2 xl2 center-button-small">
                <button type="submit" class="waves-effect waves-light btn-small  "aria-label="search-by-date"><i class="large material-icons">search</i></button>
            </div>
        </div>
    </form>
</div>
<div class="row information-row">
    <div class="col s12 ">
        <%treatmentsMade.forEach(t=>{%>
            <div class="col s12 m12 l12  top-separator  top-separator-2">
                <div class="card max-width-card">
                    <div class="card-content">
                        <div class="col s12 m12 l4">
                            <label>Zabieg</label>
                            <p class="search-by" data-value="<%=t.name%>"> <%=t.name%></p>
                        </div>
                        <div class="col s12 m12 l4">
                            <label>Kwota wydana</label>
                            <p> <%=t.price%></p>
                        </div>
                        <div class="col s12 m12 l4">
                            <label>Wykonane zabiegi</label>
                            <p> <%=t.amount%></p>
                        </div>
                    </div>
                </div>
            </div>
        <%})%>
    </div>
</div>   


<script src="../../public/toggle_main_page_list.js"></script>
